openapi: 3.0.0
info:
  title: Boardroom API
  description: API for Boardroom governance protocols
  version: 1.0.0
servers:
  - url: 'https://api.boardroom.info/v1/'
    description: Boardroom Governance API
paths:
  /protocols:
    get:
      summary: Get all protocols
      description: Get all protocols of boardroom
      operationId: getProtocols
      tags:
        - protocol
      parameters:
        - name: excludeTokenInfo
          in: query
          description: 'boolean to exclude token info, default is false.'
          required: false
          schema:
            type: boolean
          example: false
        - name: includeContractMetadata
          in: query
          description: 'boolean to include contract metadata, default is false.'
          required: false
          schema:
            type: boolean
          example: false
        - name: limit
          in: query
          description: Response size limit
          required: false
          schema:
            type: number
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          schema:
            type: string
        - name: cnames
          in: query
          description: Comma separated cnames of protocols
          required: false
          schema:
            type: string
        - name: pinned
          in: query
          description: >-
            Comma separated cnames of protocols, response will be in the order
            of pinned protocols at the start.
          required: false
          schema:
            type: string
          example: 'aave,ens'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Protocol'
              examples:
                default:
                  value: >-
                    {"data":[{"cname":"aave","name":"Aave","totalProposals":28,"totalVotes":1270,"uniqueVoters":733,"icons":[{"adapter":"default","size":"thumb","url":"https://assets.coingecko.com/coins/images/12645/thumb/AAVE.png?1601374110"}],"tokens":[{"adapter":"default","symbol":"aave","network":"ethereum","contractAddress":"0x7fc66500c84a76ad7e9c93437bfc5ac33e2ddae9","marketPrices":[{"currency":"usd","price":387.86}]}]}]}
      security:
        - api-key: []
  '/protocols/{cname}':
    get:
      summary: Get a single protocol
      description: Retrieve details of a specific protocol by its `cname`.
      operationId: getProtocolDetails
      tags:
        - protocol
      parameters:
        - name: cname
          in: path
          description: Protocol cname.
          required: true
          schema:
            type: string
          example: aave
        - name: excludeTokenInfo
          in: query
          description: 'boolean to exclude token info, default is false.'
          required: false
          schema:
            type: boolean
          example: false
        - name: includeContractMetadata
          in: query
          description: 'boolean to include contract metadata, default is false.'
          required: false
          schema:
            type: boolean
          example: false
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Protocol'
              examples:
                default:
                  value: >-
                    {"data":{"cname":"aave","name":"Aave","totalProposals":28,"totalVotes":1270,"uniqueVoters":733,"icons":[{"adapter":"default","size":"thumb","url":"https://assets.coingecko.com/coins/images/12645/thumb/AAVE.png?1601374110"},{"adapter":"default","size":"small","url":"https://assets.coingecko.com/coins/images/12645/small/AAVE.png?1601374110"},{"adapter":"default","size":"large","url":"https://assets.coingecko.com/coins/images/12645/large/AAVE.png?1601374110"}],"tokens":[{"adapter":"default","symbol":"aave","network":"ethereum","contractAddress":"0x7fc66500c84a76ad7e9c93437bfc5ac33e2ddae9","marketPrices":[{"currency":"usd","price":384.14}]}]}}
      security:
        - api-key: []
  '/protocols/{cname}/proposals':
    get:
      summary: Get all proposals for a protocol
      description: Get all proposals for a specific protocol identified by `cname`.
      operationId: getProtocolProposals
      tags:
        - proposal
      parameters:
        - name: cname
          in: path
          description: Protocol cname.
          required: true
          schema:
            type: string
          example: aave
        - name: limit
          in: query
          description: Response size limit
          required: false
          schema:
            type: number
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: 'Status of the proposal. Supported values: pending, active, closed.'
          required: false
          schema:
            type: string
            enum:
              - pending
              - active
              - closed
        - name: proposer
          in: query
          description: Proposer address.
          schema:
            type: string
          example: '0x8d5237037A590A2dB531F3CfB8f42605cF306f34'
        - name: orderByIndexedAt
          in: query
          description: 'Order in which data is indexed. Supported values: asc, desc.'
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: includeFlagged
          in: query
          description: Should the response include flagged proposals. Defaults to false.
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Proposal'
                  nextCursor:
                    type: string
              examples:
                default:
                  value: >-
                    {"data":[{"refId":"cHJvcG9zYWw6YWF2ZTpkZWZhdWx0OjI3","id":"27","title":"Add
                    DPI on Aave
                    V2","content":"Summary","protocol":"aave","adapter":"default","proposer":"0x7f4C5938AF9731e9feadc09C3FA782508198532E","totalVotes":20,"blockNumber":13044092,"startTime":{"blockNumber":13044092},"endTime":{"blockNumber":13063292},"startTimestamp":1629221854,"endTimestamp":1629475458,"currentState":"active","choices":["NAY","YAE"],"results":[{"total":411686.47,"choice":1}],"events":[{"time":{"blockNumber":12986707},"event":"executed","timestamp":1628455780}]}],"nextCursor":"eyJ=="}
      security:
        - api-key: []
  /proposals:
    get:
      summary: Get proposals across all protocols
      description: Get proposals across all protocols
      operationId: getProposals
      tags:
        - proposal
      parameters:
        - name: status
          in: query
          description: 'Status of the proposal. Supported values: pending, active, closed.'
          required: false
          schema:
            type: string
            enum:
              - pending
              - active
              - closed
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Response size limit
          required: false
          schema:
            type: number
        - name: cnames
          in: query
          description: Comma separated cnames of protocols
          required: false
          schema:
            type: string
        - name: proposer
          in: query
          description: Proposer address.
          required: false
          schema:
            type: string
          example: '0x8d5237037A590A2dB531F3CfB8f42605cF306f34'
        - name: proposers
          in: query
          description: Comma separated addresses of proposers.
          required: false
          schema:
            type: string
        - name: excludeVotedOnBy
          in: query
          description: Filter proposals voted on by an address.
          schema:
            type: string
        - name: lite
          in: query
          description: >-
            Return lite version of the response. Filters results, choices and
            total votes.
          schema:
            type: boolean
        - name: orderByIndexedAt
          in: query
          description: 'Order in which data is indexed. Supported values: asc, desc.'
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: includeVoteFunctionInfo
          in: query
          description: 'Include voting contract, vote function selectors and inputs.'
          schema:
            type: boolean
        - name: includeFlagged
          in: query
          description: Should the response include flagged proposals. Defaults to false.
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Proposal'
                  nextCursor:
                    type: string
              examples:
                default:
                  value: >-
                    {"data":[{"refId":"cHJvcG9zYWw6YWF2ZTpkZWZhdWx0OjI3","id":"27","title":"Add
                    DPI on Aave
                    V2","content":"Summary","protocol":"aave","adapter":"default","proposer":"0x7f4C5938AF9731e9feadc09C3FA782508198532E","totalVotes":20,"blockNumber":13044092,"startTime":{"blockNumber":13044092},"endTime":{"blockNumber":13063292},"startTimestamp":1629221854,"endTimestamp":1629475458,"currentState":"active","choices":["NAY","YAE"],"results":[{"total":411686.47,"choice":1}],"events":[{"time":{"blockNumber":12986707},"event":"executed","timestamp":1628455780}]}],"nextCursor":"eyJ=="}
      security:
        - api-key: []
  '/proposals/{refId}':
    get:
      summary: Get a single proposal
      description: Get a single proposal by its `refId`.
      operationId: getProposal
      tags:
        - proposal
      parameters:
        - name: refId
          in: path
          description: Proposal `refId`.
          required: true
          schema:
            type: string
          example: >-
            cHJvcG9zYWw6YWF2ZTpzbmFwc2hvdDoweDI5MzA1OTljYWUzY2VjMGExNmJkMGFlZjEzNTI0MzQ3ZTBjNWU4NWNmZjdkZDY2YWU5YjJiZWQ5MGZjNWQxZmU=
        - name: includeVoteFunctionInfo
          in: query
          description: 'Include voting contract, vote function selectors and inputs.'
          schema:
            type: boolean
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Proposal'
              examples:
                default:
                  value: >-
                    {"data":{"refId":"cHJvcG9zYWw6c3VzaGk6ZGVmYXVsdDpxbXM3a3ljNGtyNmUxZ3NzY3NrNW1wb2VkZmt0dzhvaHFyY2FoM2prN213NzVr","id":"QmS7kYC4KR6E1gssCsK5MPoeDfktW8oHqRCaH3jK7mW75K","title":"Buy
                    MemePad - https://memepad.co/ - LaunchPad for Meme
                    coins","content":"Buy MemePad - https://memepad.co/ -
                    LaunchPad for Meme
                    coins","protocol":"sushi","adapter":"default","proposer":"0xb9d3c5bB5DE7cf779321962dC61A725e5358fF05","totalVotes":266,"blockNumber":12590827,"externalUrl":"https://snapshot.org/#/sushigov.eth/proposal/QmS7kYC4KR6E1gssCsK5MPoeDfktW8oHqRCaH3jK7mW75K","startTime":{"timestamp":1623031200},"endTime":{"timestamp":1684980000},"startTimestamp":1623031200,"endTimestamp":1684980000,"currentState":"active","choices":["YES","YES"],"results":[{"total":181771.86,"choice":0},{"total":12996.031,"choice":1}],"events":[{"time":{"blockNumber":12986707},"event":"executed","timestamp":1628455780}]}}
      security:
        - api-key: []


  '/proposals/{refId}/votes':
    get:
      summary: Get votes on a proposal
      description: Get votes on a proposal
      operationId: getProposalVotes
      tags:
        - vote
      parameters:
        - name: refId
          in: path
          description: Proposal refId.
          required: true
          schema:
            type: string
          example: 'cHJvcG9zYWw6c3VzaGk6ZGVmYXVsdDpxbXM3a3ljNGtyNmUxZ3NzY3NrNW1wb2VkZmt0dzhvaHFyY2FoM2prN213NzVr'
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: 'Response size limit, Defaults to 20'
          required: false
          schema:
            type: number
        - name: addresses
          in: query
          description: Addresses to include in response of votes.
          required: false
          schema:
            type: string
        - name: pinned
          in: query
          description: Response is ordered with votes cast by these addresses at the start.
          required: false
          schema:
            type: string
        - name: fromTimestamp
          in: query
          description: Filter by votes after
          required: false
          schema:
            type: string
        - name: untilTimestamp
          in: query
          description: Filter by votes before
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vote'
                  nextCursor:
                    type: string
              examples:
                default:
                  value: '{"data":[{"refId":"dm90ZTpzdXNoaTpkZWZhdWx0OnFtczdreWM0a3I2ZTFnc3Njc2s1bXBvZWRma3R3OG9ocXJjYWgzams3bXc3NWs6MHhkNDA5Y2VhOWRkOGRiMzA1MDQxNjgwNjM5NTNjZTFmYTIwNzQ4Y2Fi","proposalRefId":"cHJvcG9zYWw6c3VzaGk6ZGVmYXVsdDpxbXM3a3ljNGtyNmUxZ3NzY3NrNW1wb2VkZmt0dzhvaHFyY2FoM2prN213NzVr","protocol":"sushi","adapter":"default","proposalId":"QmS7kYC4KR6E1gssCsK5MPoeDfktW8oHqRCaH3jK7mW75K","address":"0xd409ceA9dD8dB30504168063953cE1Fa20748cab","power":147811.42,"choice":0,"time":{"timestamp":1625066741},"timestamp":1625066741}],"nextCursor":"eyJhZGRyZXNzIjoiMHg1QTlkZDlDN2ZBRkI0OWY3NzhmQzQ1MDgyMDAwMzg1NzhFNEMxY2E2IiwicG93ZXIiOjI3MC43MjMwMn0="}'
      security:
        - api-key: []
        
                
  '/proposals/{refId}/pendingVotes':
    get:
      summary: 'Get Pending votes by address, protocol or proposal refID'
      description: Retrieve pending votes for a specific proposal identified by `refId`.
      operationId: getPendingProposalVotes
      tags:
        - proposal
      parameters:
        - name: refId
          in: path
          description: Proposal refId.
          required: true
          schema:
            type: string
            example: cHJvcG9zYWw6dGVzdHByb3RvY29sOnNuYXBzaG90OnVuZGVmaW5lZA==
        - name: address
          in: query
          description: Voter address.
          schema:
            type: string
          example: '0xd409ceA9dD8dB30504168063953cE1Fa20748cab'
        - name: protocol
          in: query
          description: Protocol name.
          schema:
            type: string
          example: ens
        - name: adapter
          in: query
          description: Whether it is snapshot or onchain instances to query for.
          schema:
            type: string
          example: onchain
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PendingVote'
              examples:
                default:
                  value: >-
                    {"data": [{"refId":
                    "cHJvcG9zYWw6dGVzdHByb3RvY29sOnNuYXBzaG90OnVuZGVmaW5lZA==","protocol":
                    "testProtocol","adapter": "snapshot","choice":
                    1,"voteRefId":
                    "dm90ZTp0ZXN0cHJvdG9jb2w6c25hcHNob3Q6dW5kZWZpbmVkOjB4NGY1NGQxYjA1NGVlODM3N2Y3NzE2NjdjMGQxNzM0ZDkzODFlMTMzMA==","txnHash":
                    "bafkreia2nhyksuyjcg7skvuhgdixhdtyzvjvzoobfqw7tlde6sp5yktqom","status":
                    "success"}]}
      security:
        - api-key: []
  /voters/{address}/votes:
    get:
      summary: Get votes by voter
      description: Get votes by voter
      operationId: getVoterVotes
      tags:
        - vote
      parameters:
        - name: address
          in: path
          description: Voter address.
          required: true
          schema:
            type: string
          example: '0xd409ceA9dD8dB30504168063953cE1Fa20748cab'
        - name: cname
          in: query
          description: Protocol cname.
          required: false
          schema:
            type: string
          example: aave
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Response size limit
          required: false
          schema:
            type: number
        - name: fromTimestamp
          in: query
          description: Filter by votes after
          required: false
          schema:
            type: string
        - name: untilTimestamp
          in: query
          description: Filter by votes before
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vote'
              examples:
                default:
                  value: '{"data":[{"refId":"dm90ZTpzdXNoaTpkZWZhdWx0OnFtczdreWM0a3I2ZTFnc3Njc2s1bXBvZWRma3R3OG9ocXJjYWgzams3bXc3NWs6MHhkNDA5Y2VhOWRkOGRiMzA1MDQxNjgwNjM5NTNjZTFmYTIwNzQ4Y2Fi","proposalRefId":"cHJvcG9zYWw6c3VzaGk6ZGVmYXVsdDpxbXM3a3ljNGtyNmUxZ3NzY3NrNW1wb2VkZmt0dzhvaHFyY2FoM2prN213NzVr","protocol":"sushi","adapter":"default","proposalId":"QmS7kYC4KR6E1gssCsK5MPoeDfktW8oHqRCaH3jK7mW75K","address":"0xd409ceA9dD8dB30504168063953cE1Fa20748cab","power":147811.42,"choice":0,"time":{"timestamp":1625066741},"timestamp":1625066741,"proposalInfo":{"title":"Buy MemePad - https://memepad.co/ - LaunchPad for Meme coins","startTime":{"timestamp":1623031200},"endTime":{"timestamp":1684980000},"startTimestamp":1623031200,"endTimestamp":1684980000,"choices":["YES","YES"],"events":[],"currentState":"active"}}]}'
      security:
        - api-key: []
  /discourseTopics:
    get:
      summary: Get Discourse Topics
      description: >
        Discourse Topics are the top level discussions on discourse. Sorted by
        the `bumpedAt` property.

        List of protocol cnames that there is discourse data for: "0xgov",
        "epns", "aave", "aavegotchi", "abachi", "akropolis",  "ampleforth",
        "angle", "apecoin", "arbitrum", "armorfi", "babydogearmy",  "badgerdao",
        "balancer", "bancor", "banklessvault", "bitdao", "citydao",  "compound",
        "compoundgrants", "creamfinance", "cryptex", "curvefi", "daosquare", 
        "decentraland", "devdao", "doodles", "ease", "elyfi", "ens", "esd",
        "eulerfi",  "fei", "fraxfi", "gearbox", "gitcoin", "gooddollar",
        "dhedge", "graphprotocol",  "hopprotocol", "idlefinance", "indexCoop",
        "indexed", "instadapp", "interest",  "inverse", "kleros", "kyber",
        "lexpunk", "lido", "lilnouns", "lootdao",  "maplefinance",
        "metafactory", "mstable", "nexusmutual", "nounsdao",  "optimism",
        "paladin", "perpetualprotocol", "phonon", "piedao", "primedao", 
        "radicle", "rally", "rariFoundation", "reflexerfi", "saddlefi",
        "safedao",  "silo", "sushi", "token-engineering-commons", "threshold",
        "tokenlon",  "truefigov", "uniswap", "unlock", "ybaby"
      operationId: get-discourseTopics
      tags:
        - discourse
      parameters:
        - name: protocol
          in: query
          description: >-
            Protocol cname that you want to get discourse topics for. You can
            pass multiple protocol cnames separated by ",".
          schema:
            type: string
        - name: topicId
          in: query
          description: >-
            A single discourse topic ID. This will return a single topic with
            that ID.
          schema:
            type: number
        - name: categoryId
          in: query
          description: >-
            Category ID number. This will return all topics with that category
            ID.
          schema:
            type: number
        - name: cursor
          in: query
          description: Pagination cursor to retrieve the next page.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        refId:
                          type: string
                        protocol:
                          type: string
                        imageUrl:
                          type: string
                        title:
                          type: string
                        slug:
                          type: string
                        tags:
                          type: string
                        postsCount:
                          type: integer
                        views:
                          type: integer
                        replyCount:
                          type: integer
                        likeCount:
                          type: integer
                        categoryId:
                          type: integer
                        pinned:
                          type: boolean
                        visible:
                          type: boolean
                        closed:
                          type: boolean
                        archived:
                          type: boolean
                        createdAt:
                          type: string
                        bumpedAt:
                          type: string
                  nextCursor:
                    type: string
              examples:
                Example 1:
                  value:
                    items:
                      - id: '6558'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjU1OA==
                        protocol: optimism
                        imageUrl: null
                        title: Future Citizenship Selection Criteria
                        slug: future-citizenship-selection-criteria
                        tags: '{}'
                        postsCount: 1
                        views: 23
                        replyCount: 0
                        likeCount: 0
                        categoryId: 46
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-08-01T11:05:27.814Z'
                        bumpedAt: '2023-08-01T11:05:27.859Z'
                      - id: '6557'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjU1Nw==
                        protocol: optimism
                        imageUrl: >-
                          https://global.discourse-cdn.com/standard10/uploads/bc41dd/optimized/2X/3/3da4c4acab9da5ef2dfc65f8b8d7d0a29364f2aa_2_1024x546.jpeg
                        title: 'RetroPGF 3: Voting badge distribution'
                        slug: retropgf-3-voting-badge-distribution
                        tags: '{"round-3"}'
                        postsCount: 1
                        views: 43
                        replyCount: 0
                        likeCount: 3
                        categoryId: 46
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-08-01T11:00:04.135Z'
                        bumpedAt: '2023-08-01T11:19:52.290Z'
                      - id: '6553'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjU1Mw==
                        protocol: optimism
                        imageUrl: >-
                          https://global.discourse-cdn.com/standard10/uploads/bc41dd/optimized/2X/7/7da074d8221e4ea7b00f7e73ae8851c4f773d15a_2_1024x577.png
                        title: 'Incentive Impact Analysis: PoolTogether'
                        slug: incentive-impact-analysis-pooltogether
                        tags: '{}'
                        postsCount: 2
                        views: 69
                        replyCount: 0
                        likeCount: 9
                        categoryId: 62
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-31T19:36:20.238Z'
                        bumpedAt: '2023-07-31T23:24:47.954Z'
                      - id: '6540'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjU0MA==
                        protocol: optimism
                        imageUrl: >-
                          https://global.discourse-cdn.com/standard10/uploads/bc41dd/optimized/2X/7/70db52129ba66d0c11a364995eeab7384ba6c089_2_1024x614.jpeg
                        title: LLMs assisting badgeholders
                        slug: llms-assisting-badgeholders
                        tags: '{}'
                        postsCount: 4
                        views: 75
                        replyCount: 0
                        likeCount: 8
                        categoryId: 46
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-30T16:03:17.120Z'
                        bumpedAt: '2023-08-01T08:57:15.648Z'
                      - id: '6538'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjUzOA==
                        protocol: optimism
                        imageUrl: null
                        title: >-
                          Setup myself as a delegator, deligate and vote on
                          proposal
                        slug: >-
                          setup-myself-as-a-delegator-deligate-and-vote-on-proposal
                        tags: '{"delegation"}'
                        postsCount: 3
                        views: 53
                        replyCount: 0
                        likeCount: 2
                        categoryId: 1
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-29T21:20:58.195Z'
                        bumpedAt: '2023-07-31T01:10:16.927Z'
                      - id: '6535'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjUzNQ==
                        protocol: optimism
                        imageUrl: null
                        title: NanoQF a minimal grants protocol on EAS
                        slug: nanoqf-a-minimal-grants-protocol-on-eas
                        tags: '{}'
                        postsCount: 1
                        views: 43
                        replyCount: 0
                        likeCount: 1
                        categoryId: 63
                        pinned: false
                        visible: true
      security:
        - api-key: []
  /discourseCategories:
    get:
      summary: Get Discourse Categories
      description: >-
        Discourse Categories are the list of the categories for a discourse
        forum.
      operationId: get-discourseCategories
      tags:
        - discourse
      parameters:
        - name: protocol
          in: query
          description: Protocol cname that you want to get discourse categories for.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        refId:
                          type: string
                        protocol:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                        descriptionText:
                          type: string
                        descriptionExcerpt:
                          type: string
                        color:
                          type: string
                        textColor:
                          type: string
                        slug:
                          type: string
                        topicCount:
                          type: integer
                        postCount:
                          type: integer
                        position:
                          type: integer
                        topicUrl:
                          type: string
                        numFeaturedTopics:
                          type: integer
                        topicsWeek:
                          type: integer
                        topicsMonth:
                          type: integer
                        topicsYear:
                          type: integer
                        topicsAllTime:
                          type: integer
              examples:
                Example 1:
                  value:
                    data:
                      - id: '7'
                        refId: ZGlzY291cnNlY2F0ZWdvcnk6YWF2ZTo3
                        protocol: aave
                        name: Risk
                        description: >-
                          Topics that are risk related belong in this category
                          or the appropriate sub-categories.
                        descriptionText: >-
                          Topics that are risk related belong in this category
                          or the appropriate sub-categories.
                        descriptionExcerpt: >-
                          Topics that are risk related belong in this category
                          or the appropriate sub-categories.
                        color: F1592A
                        textColor: FFFFFF
                        slug: risk
                        topicCount: 82
                        postCount: 438
                        position: 7
                        topicUrl: /t/about-the-risk-category/1028
                        numFeaturedTopics: 3
                        topicsWeek: 1
                        topicsMonth: 9
                        topicsYear: 105
                        topicsAllTime: 179
                      - id: '4'
                        refId: ZGlzY291cnNlY2F0ZWdvcnk6YWF2ZTo0
                        protocol: aave
                        name: Governance
                        description: >-
                          General governance topics and discussions related to
                          Aave.
                        descriptionText: >-
                          General governance topics and discussions related to
                          Aave.
                        descriptionExcerpt: >-
                          General governance topics and discussions related to
                          Aave.
                        color: 2EBAC6
                        textColor: 652D90
                        slug: governance
                        topicCount: 574
                        postCount: 6027
                        position: 0
                        topicUrl: /t/about-the-governance-category/3
                        numFeaturedTopics: 5
                        topicsWeek: 12
                        topicsMonth: 47
                        topicsYear: 446
                        topicsAllTime: 882
                      - id: '25'
                        refId: ZGlzY291cnNlY2F0ZWdvcnk6YWF2ZToyNQ==
                        protocol: aave
                        name: Aave Grants DAO
                        description: >
                          This category is for questions, proposals, and general
                          information  relating to projects building on Aave and
                          improving the Aave protocol.  Aave Grants DAO provides
                          grants to grow the Aave ecosystem.
                        descriptionText: >
                          This category is for questions, proposals, and general
                          information  relating to projects building on Aave and
                          improving the Aave protocol.  Aave Grants DAO provides
                          grants to grow the Aave ecosystem.
                        descriptionExcerpt: >
                          This category is for questions, proposals, and general
                          information  relating to projects building on Aave and
                          improving the Aave protocol.  Aave Grants DAO provides
                          grants to grow the Aave ecosystem.
                        color: F7941D
                        textColor: FFFFFF
                        slug: developers
                        topicCount: 72
                        postCount: 378
                        position: 21
                        topicUrl: /t/about-aave-grants-dao/1563
                        numFeaturedTopics: 3
                        topicsWeek: 1
                        topicsMonth: 4
                        topicsYear: 31
                        topicsAllTime: 72
                      - id: '6'
                        refId: ZGlzY291cnNlY2F0ZWdvcnk6YWF2ZTo2
                        protocol: aave
                        name: Other
                        description: >-
                          Not sure which category fits your topic best (if any)?
                          Post here!
                        descriptionText: >-
                          Not sure which category fits your topic best (if any)?
                          Post here!
                        descriptionExcerpt: >-
                          Not sure which category fits your topic best (if any)?
                          Post here!
                        color: 3AB54A
                        textColor: FFFFFF
                        slug: other
                        topicCount: 110
                        postCount: 559
                        position: 14
                        topicUrl: /t/about-the-other-category/255
                        numFeaturedTopics: 3
                        topicsWeek: 0
                        topicsMonth: 8
                        topicsYear: 51
                        topicsAllTime: 116
                      - id: '27'
                        refId: ZGlzY291cnNlY2F0ZWdvcnk6YWF2ZToyNw==
                        protocol: aave
                        name: Delegate Platforms
                        description: >-
                          This category is for candidates for voting &amp;
                          proposal power delegation.
                        descriptionText: >-
                          This category is for candidates for voting &amp;
                          proposal power delegation.
                        descriptionExcerpt: >-
                          This category is for candidates for voting &amp;
                          proposal power delegation.
                        color: 0088CC
                        textColor: FFFFFF
                        slug: delegate-platforms
                        topicCount: 25
                        postCount: 658
                        position: 5
                        topicUrl: /t/about-the-delegate-platforms-category/9322
                        numFeaturedTopics: 3
                        topicsWeek: 0
                        topicsMonth: 1
                        topicsYear: 21
                        topicsAllTime: 25
                      - id: '26'
                        refId: ZGlzY291cnNlY2F0ZWdvcnk6YWF2ZToyNg==
                        protocol: aave
                        name: Development
                        description: null
                        descriptionText: null
                        descriptionExcerpt: null
                        color: 0088CC
                        textColor: FFFFFF
                        slug: development
                        topicCount: 57
                        postCount: 347
                        position: 6
                        topicUrl: /t/about-the-development-category/8117
                        numFeaturedTopics: 3
                        topicsWeek: 0
                        topicsMonth: 6
                        topicsYear: 43
                        topicsAllTime: 57
                      - id: '21'
                        refId: ZGlzY291cnNlY2F0ZWdvcnk6YWF2ZToyMQ==
                        protocol: aave
                        name: Learning Center
                        description: >
                          The learning center is for questions, general
                          information,  and various learning resources for Aave!
                        descriptionText: >
                          The learning center is for questions, general
                          information,  and various learning resources for Aave!
                        descriptionExcerpt: >
                          The learning center is for questions, general
                          information,  and various learning resources for Aave!
                        color: 92278F
                        textColor: FFFFFF
                        slug: learning-center
                        topicCount: 39
                        postCount: 128
                        position: 17
                        topicUrl: /t/about-the-learning-center-category/1368
                        numFeaturedTopics: 3
                        topicsWeek: 0
                        topicsMonth: 0
                        topicsYear: 18
                        topicsAllTime: 58
      security:
        - api-key: []
        
  /discourseTopicPosts:
    get:
      summary: Get Discourse Topic Posts
      description: Discourse Topic Posts are the replies to a top-level Topic. You will also find the main Topic content here.
      operationId: get-discourseTopicPosts
      tags:
        - discourse
      parameters:
        - name: protocol
          in: query
          description: Protocol cname that you want to get discourse topic posts for.
          required: false
          schema:
            type: string
        - name: topicId
          in: query
          description: A single discourse topic ID, this will return all replies for a single topic with that ID.
          required: false
          schema:
            type: number
        - name: cursor
          in: query
          description: Pagination cursor to retrieve the next page.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        refId:
                          type: string
                        protocol:
                          type: string
                        body:
                          type: string
                        authorName:
                          type: string
                        authorUsername:
                          type: string
                        authorAvatar:
                          type: string
                        topicId:
                          type: integer
                        authorId:
                          type: integer
                        reads:
                          type: integer
                        readersCount:
                          type: integer
                        likeCount:
                          type: integer
                        quoteCount:
                          type: integer
                        replyCount:
                          type: integer
                        replyToPostNumber:
                          type: integer
                        postNumber:
                          type: integer
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                  nextCursor:
                    type: string
              examples:
                Example_1:
                  value:
                    items:
                      - id: '26690'
                        refId: ZGlzY291cnNldG9waWNwb3N0Om9wdGltaXNtOjYxODc6MjY2OTA6OTk0NQ==
                        protocol: optimism
                        body: |
                          <p><strong>Proposed Mission</strong>: Spearbit + Immunefi Bug Bounty Program for Large Protocols on Optimism.</p>
                          <p><strong>Proposal Tier 42</strong>: Phoenix</p>
                          <p>As Spearbit, we qualify for the Phoenix Tier based on previous work done with the Optimism Foundation.</p>
                          <p><strong>Baseline grant amount</strong>: 100,000 OP</p>
                          <p><strong>% of total available Intent Budget</strong>: 10%</p>
                          <p>Please check here if access to upfront capital is a barrier to completing your Mission and you would like to be considered for a small upfront cash grant: No</p>
                          <p><strong>Alliance name</strong>: Spearbit + Immunefi</p>
                          <p><strong>Alliance Leads</strong>:</p>
                          <p>Spencer Macdonald, Co-Founder and CEO @ Spearbit</p>
                          <p>Mike Leffer, COO @ Spearbit</p>
                          <p>Henry Shen, Senior AE @ Immunefi</p>
                          <p><strong>Contact info</strong>:</p>
                          <p><a href="mailto:mike@spearbit.com">mike@spearbit.com</a><br>
                          <a href="mailto:hen@immunefi.com">hen@immunefi.com</a></p>
                          <p><strong>L2 recipient address</strong>: TBD</p>
                          <p><strong>Please list the members of your Alliance and link to any previous work:</strong></p>
                          <p>Spearbit is a distributed network of security experts providing security services to web3 clients. Our members include some of the most seasoned Security Researchers in the industry. We provide security audits, monitoring, advisory and incident response services for organizations like Optimism, OpenSea, Polygon, and Connext. More about our work with Optimism and other clients can be found on our website / portfolo.</p>
                          <p>Immunefi is a web3 focused bug bounty platform that utilizes a network of 30k+ whitehat hackers for any type of blockchain project that utilizes smart contracts. Projects also have the ability to list bug bounties for more traditional SAAS frameworks such as their web/app architecture. Our client roster includes some of the most industry leading names like Polygon, Lido, RocketPool, SushiSwap, GMX, Arbitrum, etc. Refer to our website for additional information on client roster and previous work.</p>
                          <p><strong>Please explain how this Mission will help accomplish the above Intent</strong>:</p>
                          <p>Technical decentralization, at its core, involves the distribution of control, authority, and operation across multiple independent entities. This avoids a single point of failure and prevents the system from being controlled by a single entity.</p>
                          <ol>
                            <li>
                              <p><strong>Security Assurance for Decentralized Infrastructure</strong>: This program will ensure the security of decentralized infrastructure by incentivizing the discovery and reporting of vulnerabilities. Given the interconnectedness of protocols in the DeFi ecosystem, vulnerabilities in protocols with large TVL can pose systemic risk, lead to multi-protocol exploits, and cripple the reputation of entire ecosystems. A bug bounty program aimed at the largest protocols can help mitigate such systemic risks, contributing to a more stable and resilient decentralized environment. This program will also allow large protocols building on Optimism to receive a wide variety of opinions and feedback on their protocol and smart contract code since Immunefi utilizes a community of 30K+ whitehat hackers. A wide variety of opinions and feedback will contribute to the security assurance for decentralized infrastructure since it allows projects to receive unbiased and new feedback.</p>
                            </li>
                            <li>
                              <p><strong>Distributed Accountability</strong>: Our proposal distributes the responsibility of network security to a broader group, thus decentralizing the accountability that would traditionally lie with a central authority or a small group of developers. It can also support the work of community teams like OP Labs by providing an additional layer of security review and feedback. This can enhance the quality and reliability of their development work, contributing to the overall health of the decentralized ecosystem.</p>
                            </li>
                            <li>
                              <p><strong>Enabling Bridge Decentralization</strong>: Secure apps are crucial for bridge decentralization, as they often serve as primary liquidity sources and integration points for cross-chain interactions. Ensuring the security of a major app, therefore, helps facilitate safer and more efficient cross-chain operations, contributing to the overall technical decentralization. Immunefi and Spearbit utilize a massive community of whitehat hackers and vetted Security Researchers with experience across various ecosystems, languages, and types of projects. This program will further contribute to bridge decentralization since it will help secure apps as apps seek cross-chain functionality.</p>
                            </li>
                          </ol>
                          <p>We believe that this program would represent a start in the direction of a community-led security effort, one where new protocols and users would have confidence in deploying their time and money.</p>
                          <p><strong>What makes your Alliance well-suited to execute this Mission?</strong> Spearbit has an established track record in the field of auditing and security consulting in web3. With our network of Security Researchers, we can ensure high quality code reviews leveraging our community to maximize detection and prevention. Our previous work with the Optimism Foundation further attests to our capabilities in this area.</p>
                          <p>Immunefi is a web3 focused bug bounty platform that protects over $60 billion in user funds. We work with many notable names across L1s, L2s, defi protocols such as LayerZero, Cronos Labs, Polygon, Arbitrum, Boba Network, GMX, SushiSwap, etc. in hosting bug bounties for their protocols. We host bug bounties for any type of blockchain project, regardless of coding language, ecosystem, or type or project (defi vs. creator economy). We utilize a community of over 30k whitehat hackers who use our platform to hunt for bugs within our clients’ protocols. Immunefi is well-suited in executing this mission given the wide variety of projects, languages, and ecosystems that we currently work with. Our whitehat hacker community does not discriminate against any type of project, allowing Optimism projects to receive a diverse set of opinions and feedback from various types of whitehat hackers all around the world.</p>
                          <p><strong>Please list a critical milestone</strong>: Achievement of comprehensive bug coverage in large protocols on Optimism. We are first
      security:
          - api-key: []
  /protocols/{cname}/voters:
    get:
      summary: Get all voters for a protocol
      description: Get all voters for a protocol
      operationId: getProtocolVoters
      tags:
        - voter
      parameters:
        - name: cname
          in: path
          required: true
          description: Protocol cname.
          schema:
            type: string
            example: aave
        - name: cursor
          in: query
          required: false
          description: Pagination cursor to retrieve the next page.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Response size limit, defaults to 20.
          schema:
            type: number
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Voter'
                  nextCursor:
                    type: string
              examples:
                default:
                  value:
                    data:
                      - address: "0xdD709cAE362972cb3B92DCeaD77127f7b8D58202"
                        firstVoteCast: 1608813954
                        lastVoteCast: 1629265575
                        totalVotesCast: 20
                        protocols:
                          - protocol: "aave"
                            totalVotesCast: 20
                            lastVoteCast: 1629265575
                            firstVoteCast: 1608813954
                            totalPowerCast: 3873320
                            lastCastPower: 188761.45
                    nextCursor: "eysddfsdfsd=="
  '/delegates/getDelegatorsByProtocol/{cname}':
    get:
      summary: Get delegations by protocol
      description: Get delegations by protocol
      operationId: getDelegatorsByProtocol
      tags:
        - delegates
      parameters:
        - name: cname
          in: path
          description: Protocol cname to query for
          required: true
          schema:
            type: string
          example: ens
        - name: adapter
          in: query
          description: Whether it is snapshot or onchain instances to query for
          required: false
          schema:
            type: string
          example: onchain
        - name: limit
          in: query
          description: Response size limit
          required: false
          schema:
            type: number
          example: 20
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          schema:
            type: string
        - name: addressDelegatedTo
          in: query
          description: Address delegating to
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GetDelegations'
                  nextCursor:
                    type: string
              examples:
                default:
                  value: '{"data":[{"protocol":"ens","adapter":"onchain","address":"0x4F54D1b054eE8377F771667C0d1734d9381E1330","addressDelegatedTo":"0x4F54D1b054eE8377F771667C0d1734d9381E1330","timestamp":"1676453367517"}]}'
      security:
        - api-key: []

components:
  schemas:
    Protocol:
      type: object
      properties:
        cname:
          type: string
        name:
          type: string
        categories:
          type: array
          items:
            type: string
        isEnabled:
          type: boolean
        activeOnWebsite:
          type: boolean
        totalProposals:
          type: integer
        totalVotes:
          type: integer
        uniqueVoters:
          type: integer
        icons:
          type: array
          items:
            type: object
            properties:
              adapter:
                type: string
              size:
                type: string
              url:
                type: string
        tokens:
          type: array
          items:
            type: object
            properties:
              adapter:
                type: string
              symbol:
                type: string
              network:
                type: string
              contractAddress:
                type: string
              totalSupply:
                type: integer
              circulatingSupply:
                type: integer
              maxSupply:
                type: integer
              marketPrices:
                type: array
                items:
                  type: object
                  properties:
                    currency:
                      type: string
                    price:
                      type: number
        type:
          type: string
        associatedProtocols:
          type: array
          items:
            type: object
            properties: {}
        associatedAddresses:
          type: array
          items:
            type: object
            properties: {}
        delegationSupport:
          type: string
          example: '{"onchain":"optional"}'
    Proposal:
      type: object
      properties:
        refId:
          type: string
        id:
          type: string
        title:
          type: string
        content:
          type: string
        protocol:
          type: string
        adapter:
          type: string
        proposer:
          type: string
        totalVotes:
          type: integer
        blockNumber:
          type: integer
        externalUrl:
          type: string
        startTime:
          type: object
          properties:
            timestamp:
              type: integer
        endTime:
          type: object
          properties:
            timestamp:
              type: integer
        startTimestamp:
          type: string
        endTimestamp:
          type: string
        currentState:
          type: string
        choices:
          type: array
          items:
            type: string
        results:
          type: array
          items:
            type: object
            properties:
              total:
                type: number
              choice:
                type: integer
        events:
          type: array
          items:
            type: object
            properties: {}
        type:
          type: string
        indexedResult:
          type: array
          items:
            type: object
            properties:
              total:
                type: string
              choice:
                type: string
        summary:
          type: string
        privacy:
          type: string
        indexedAt:
          type: integer
        txHash:
          type: string
        quorum:
          type: integer
      x-examples:
        Example 1:
          refId: >-
            cHJvcG9zYWw6Z2l0Y29pbjpzbmFwc2hvdDpxbXVxNXdzeWU5cnlsZWJ0NG5uZ3N1Z3Fneng3bjVlZWIyZWRrb2d2Z2t0ejgz
          id: QmUq5WsYE9ryLEbt4NnGsuGQgzX7n5eeB2edKogVGkTz83
          title: Q3 2021 budget request
          content: 'This is a request to send 50,000...'
          protocol: gitcoin
          adapter: snapshot
          proposer: '0x5BA02f4Ff6Af1d9d2Af8774D10fD32Eb57d4E2E6'
          totalVotes: 843
          blockNumber: 13043964
          externalUrl: >-
            https://snapshot.org/#/gitcoindao.eth/proposal/QmUq5WsYE9ryLEbt4NnGsuGQgzX7n5eeB2edKogVGkTz83
          startTime:
            timestamp: 1629221400
          endTime:
            timestamp: 1629653400
          startTimestamp: '1629221400'
          endTimestamp: '1629653400'
          currentState: closed
          choices:
            - FOR
            - AGAINST
          results:
            - total: 2749896.5
              choice: 0
            - total: 1265.1062
              choice: 1
          events: []
          type: single-choice
          indexedResult:
            - total: '2752410.086842846'
              choice: '0'
            - total: '1265.1063197686492'
              choice: '1'
          summary: This is a summary
          privacy: shutter
          indexedAt: 1678236144000
          txHash: '0x1010'
          quorum: 0
    PendingVote:
      type: object
      properties:
        refId:
          type: string
        protocol:
          type: string
        adapter:
          type: string
        choice:
          type: string
        voteRefId:
          type: string
        txnHash:
          type: string
        status:
          type: string
    Voter:
      type: object
      properties:
        address:
          type: string
        firstVoteCast:
          type: integer
        lastVoteCast:
          type: integer
        totalVotesCast:
          type: integer
        protocols:
          type: array
          items:
            type: object
            properties:
              lastCastPower:
                type: integer
              protocol:
                type: string
              totalVotesCast:
                type: integer
              lastVoteCast:
                type: integer
              firstVoteCast:
                type: integer
              totalPowerCast:
                type: integer
    Vote:
      type: object
      properties:
        refId:
          type: string
        proposalRefId:
          type: string
        protocol:
          type: string
        adapter:
          type: string
        proposalId:
          type: string
        address:
          type: string
        power:
          type: number
        reason:
          type: string
        choice:
          type: integer
        time:
          type: object
          properties:
            blockNumber:
              type: integer
        timestamp:
          type: string
        choices:
          type: integer
        privacy:
          type: string
        txHash:
          type: string
      x-examples:
        Example 1:
          refId: dm90ZTpjb21wb3VuZDpvbmNoYWluOjE1OToweGI0OWY4Yjg2MTNiZTI0MDIxM2MxODI3ZTJlNTc2MDQ0ZmZlYzc5NDg=
          proposalRefId: cHJvcG9zYWw6Y29tcG91bmQ6b25jaGFpbjoxNTk=
          protocol: compound
          adapter: onchain
          proposalId: '159'
          address: '0xB49f8b8613bE240213C1827e2E576044fFEC7948'
          power: 50003.91
          reason: ''
          choice: 1
          time:
            blockNumber: 17179938
          timestamp: '1683113783'
          choices: 1
          privacy: ''
          txHash: ''
    GetDelegations:
      type: object
      properties:
        protocol:
          type: string
          example: "ens"
        adapter:
          type: string
          example: "snapshot"
        address:
          type: string
          example: "0xFeFdF8Ed3c0C997c41B7BB1BD761ED535bfdC8A7"
        addressDelegatedTo:
          type: string
          example: "0x0000000000000000000000000000000000000000"
    GetDelegationsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GetDelegations'
        nextCursor:
          type: string
          example: "eyJyZWZJZCI6IlpHVnNaV2RoZEdsdmJqcGxibk02YzI1aGNITm9iM1E2TUhobVpXTTRPVE5rTlRnM05URXhaVEkxWW1Nek4yRTJaVEZqWW1JNU1qSTROemM0TWpnNU5XRTQifQ=="
  securitySchemes:
    api-key:
      type: apiKey
      name: key
      in: query
