openapi: 3.0.0
info:
  description: 'The Boardroom Governance API helps projects and developers keep their users informed and engaged accross Web3 governance systems that anchor hundreds of communities and protocols. You can find most of the data used to power our <a href="https://boardroom.io/" target="_blank">Dashboard</a> here.                                           '
  version: 1.1.0
  title: Governance API
  contact:
    email: carl@boardroom.info
    name: us via email
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - description: Boardroom API
    url: 'https://api.boardroom.info/v1/'
paths:
  /protocols:
    get:
      tags:
        - protocol
      summary: Get all protocols
      operationId: getProtocols
      description: Get all protocols of boardroom
      parameters:
        - name: excludeTokenInfo
          in: query
          description: 'boolean to exclude token info, default is false.'
          required: false
          example: false
          schema:
            type: boolean
        - name: includeContractMetadata
          in: query
          description: 'boolean to include contract metadata, default is false.'
          required: false
          example: false
          schema:
            type: boolean
        - name: limit
          in: query
          description: Response size limit
          required: false
          schema:
            type: number
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          schema:
            type: string
        - name: cnames
          in: query
          description: Comma seperated cnames of protocols
          required: false
          schema:
            type: string
        - name: pinned
          in: query
          description: 'Comma seperated cnames of protocols, response will be in the in the order of pinned protocols at the start'
          required: false
          example: 'aave,ens'
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Protocol'
              example: '{"data":[{"cname":"aave","name":"Aave","totalProposals":28,"totalVotes":1270,"uniqueVoters":733,"icons":[{"adapter":"default","size":"thumb","url":"https://assets.coingecko.com/coins/images/12645/thumb/AAVE.png?1601374110"}],"tokens":[{"adapter":"default","symbol":"aave","network":"ethereum","contractAddress":"0x7fc66500c84a76ad7e9c93437bfc5ac33e2ddae9","marketPrices":[{"currency":"usd","price":387.86}]}]}]}'
      x-internal: false
  '/protocols/{cname}/proposals':
    get:
      tags:
        - proposal
      summary: Get all proposals for a protocol
      operationId: getProtocolProposals
      parameters:
        - name: cname
          in: path
          description: Protocol cname.
          required: true
          example: aave
          schema:
            type: string
        - name: limit
          in: query
          description: Response size limit
          required: false
          schema:
            type: number
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: 'Status of the proposal, Supported values'
          required: false
          schema:
            type: string
            enum:
              - pending
              - active
              - closed
        - name: proposer
          in: query
          description: Proposer address.
          example: '0x8d5237037A590A2dB531F3CfB8f42605cF306f34'
          schema:
            type: string
        - name: orderByIndexedAt
          in: query
          description: Order in which data is indexed by
          type: string
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: includeFlagged
          in: query
          description: 'Should response include flagged proposals, defaults to false'
          type: boolean
          schema:
            type: string
      description: Get all proposals for a protocol
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Proposal'
                  nextCursor:
                    type: string
              example: '{"data":[{"refId":"cHJvcG9zYWw6YWF2ZTpkZWZhdWx0OjI3","id":"27","title":"Add DPI on Aave V2","content":"Summary","protocol":"aave","adapter":"default","proposer":"0x7f4C5938AF9731e9feadc09C3FA782508198532E","totalVotes":20,"blockNumber":13044092,"startTime":{"blockNumber":13044092},"endTime":{"blockNumber":13063292},"startTimestamp":1629221854,"endTimestamp":1629475458,"currentState":"active","choices":["NAY","YAE"],"results":[{"total":411686.47,"choice":1}],"events":[{"time":{"blockNumber":12986707},"event":"executed","timestamp":1628455780}]}],"nextCursor":"eyJ=="}'
  /proposals:
    get:
      tags:
        - proposal
      summary: Get proposals across all protocols
      operationId: getProposals
      description: Get proposals across all protocols
      parameters:
        - name: status
          in: query
          description: 'Status of the proposal, Supported values'
          required: false
          schema:
            type: string
            enum:
              - pending
              - active
              - closed
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Response size limit
          required: false
          schema:
            type: number
        - name: cnames
          in: query
          description: Comma seperated cnames of protocols
          required: false
          schema:
            type: string
        - name: proposer
          in: query
          description: Proposer address.
          required: true
          example: '0x8d5237037A590A2dB531F3CfB8f42605cF306f34'
          schema:
            type: string
        - name: proposers
          in: query
          description: Comma seperated addresses of proposers.
          required: true
          schema:
            type: string
        - name: excludeVotedOnBy
          in: query
          description: Filter proposals voted on by an address.
          schema:
            type: string
        - name: lite
          in: query
          description: 'return lite version of the response, Filters results, choices and total votes'
          schema:
            type: boolean
        - name: orderByIndexedAt
          in: query
          description: Order in which data is indexed by
          type: string
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: includeVoteFunctionInfo
          in: query
          description: 'Include voting contract, vote function selectors and inputs'
          schema:
            type: boolean
        - name: includeFlagged
          in: query
          description: 'Should response include flagged proposals, defaults to false'
          type: boolean
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Proposal'
                  nextCursor:
                    type: string
              example: '{"data":[{"refId":"cHJvcG9zYWw6YWF2ZTpkZWZhdWx0OjI3","id":"27","title":"Add DPI on Aave V2","content":"Summary","protocol":"aave","adapter":"default","proposer":"0x7f4C5938AF9731e9feadc09C3FA782508198532E","totalVotes":20,"blockNumber":13044092,"startTime":{"blockNumber":13044092},"endTime":{"blockNumber":13063292},"startTimestamp":1629221854,"endTimestamp":1629475458,"currentState":"active","choices":["NAY","YAE"],"results":[{"total":411686.47,"choice":1}],"events":[{"time":{"blockNumber":12986707},"event":"executed","timestamp":1628455780}]}],"nextCursor":"eyJ=="}'
  '/proposals/{refId}/votes':
    get:
      tags:
        - vote
      summary: Get votes on a proposal
      operationId: getProposalVotes
      parameters:
        - name: refId
          in: path
          description: Proposal refId.
          required: true
          example: cHJvcG9zYWw6c3VzaGk6ZGVmYXVsdDpxbXM3a3ljNGtyNmUxZ3NzY3NrNW1wb2VkZmt0dzhvaHFyY2FoM2prN213NzVr
          schema:
            type: string
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          schema:
            type: string
        - name: limit
          in: query
          description: 'Response size limit, Defaults to 20'
          schema:
            type: number
        - name: addresses
          in: query
          description: Addresses to include in response of votes.
          schema:
            type: string
        - name: pinned
          in: query
          description: Response is Ordered with votes cast by these addresses at the start.
          schema:
            type: string
        - name: fromTimestamp
          in: query
          description: Filter by votes after
          schema:
            type: string
        - name: untilTimestamp
          in: query
          description: Filter by votes before
          schema:
            type: string
      description: Get votes on a proposal
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vote'
                  nextCursor:
                    type: string
              example: '{"data":[{"refId":"dm90ZTpzdXNoaTpkZWZhdWx0OnFtczdreWM0a3I2ZTFnc3Njc2s1bXBvZWRma3R3OG9ocXJjYWgzams3bXc3NWs6MHhkNDA5Y2VhOWRkOGRiMzA1MDQxNjgwNjM5NTNjZTFmYTIwNzQ4Y2Fi","proposalRefId":"cHJvcG9zYWw6c3VzaGk6ZGVmYXVsdDpxbXM3a3ljNGtyNmUxZ3NzY3NrNW1wb2VkZmt0dzhvaHFyY2FoM2prN213NzVr","protocol":"sushi","adapter":"default","proposalId":"QmS7kYC4KR6E1gssCsK5MPoeDfktW8oHqRCaH3jK7mW75K","address":"0xd409ceA9dD8dB30504168063953cE1Fa20748cab","power":147811.42,"choice":0,"time":{"timestamp":1625066741},"timestamp":1625066741}],"nextCursor":"eyJhZGRyZXNzIjoiMHg1QTlkZDlDN2ZBRkI0OWY3NzhmQzQ1MDgyMDAwMzg1NzhFNEMxY2E2IiwicG93ZXIiOjI3MC43MjMwMn0="}'
  '/protocols/{cname}':
    get:
      tags:
        - protocol
      summary: Get a single protocol
      operationId: getProtocolDetails
      parameters:
        - name: cname
          in: path
          description: Protocol cname.
          required: true
          example: aave
          schema:
            type: string
        - name: excludeTokenInfo
          in: query
          description: 'boolean to exclude token info, default is false.'
          required: false
          example: false
          schema:
            type: boolean
        - name: includeContractMetadata
          in: query
          description: 'boolean to include contract metadata, default is false.'
          required: false
          example: false
          schema:
            type: boolean
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Protocol'
              example: '{"data":{"cname":"aave","name":"Aave","totalProposals":28,"totalVotes":1270,"uniqueVoters":733,"icons":[{"adapter":"default","size":"thumb","url":"https://assets.coingecko.com/coins/images/12645/thumb/AAVE.png?1601374110"},{"adapter":"default","size":"small","url":"https://assets.coingecko.com/coins/images/12645/small/AAVE.png?1601374110"},{"adapter":"default","size":"large","url":"https://assets.coingecko.com/coins/images/12645/large/AAVE.png?1601374110"}],"tokens":[{"adapter":"default","symbol":"aave","network":"ethereum","contractAddress":"0x7fc66500c84a76ad7e9c93437bfc5ac33e2ddae9","marketPrices":[{"currency":"usd","price":384.14}]}]}}'
  '/proposals/{refId}':
    get:
      tags:
        - proposal
      summary: Get a single proposal
      operationId: getProposal
      parameters:
        - name: refId
          in: path
          description: Proposal refId.
          required: true
          example: cHJvcG9zYWw6c3VzaGk6ZGVmYXVsdDpxbXM3a3ljNGtyNmUxZ3NzY3NrNW1wb2VkZmt0dzhvaHFyY2FoM2prN213NzVr
          schema:
            type: string
        - name: includeVoteFunctionInfo
          in: query
          description: 'Include voting contract, vote function selectors and inputs'
          schema:
            type: boolean
      description: Get a single proposal
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Proposal'
              example: '{"data":{"refId":"cHJvcG9zYWw6c3VzaGk6ZGVmYXVsdDpxbXM3a3ljNGtyNmUxZ3NzY3NrNW1wb2VkZmt0dzhvaHFyY2FoM2prN213NzVr","id":"QmS7kYC4KR6E1gssCsK5MPoeDfktW8oHqRCaH3jK7mW75K","title":"Buy MemePad - https://memepad.co/ - LaunchPad for Meme coins","content":"Buy MemePad - https://memepad.co/ - LaunchPad for Meme coins","protocol":"sushi","adapter":"default","proposer":"0xb9d3c5bB5DE7cf779321962dC61A725e5358fF05","totalVotes":266,"blockNumber":12590827,"externalUrl":"https://snapshot.org/#/sushigov.eth/proposal/QmS7kYC4KR6E1gssCsK5MPoeDfktW8oHqRCaH3jK7mW75K","startTime":{"timestamp":1623031200},"endTime":{"timestamp":1684980000},"startTimestamp":1623031200,"endTimestamp":1684980000,"currentState":"active","choices":["YES","YES"],"results":[{"total":181771.86,"choice":0},{"total":12996.031,"choice":1}],"events":[{"time":{"blockNumber":12986707},"event":"executed","timestamp":1628455780}]}}'
  '/proposals/{refId}/pendingVotes':
    get:
      tags:
        - proposal
      summary: 'Get Pending votes by address, protocol or proposal refID'
      operationId: getPendingProposalVotes
      parameters:
        - name: proposalRefId
          in: path
          description: Proposal refId.
          example: cHJvcG9zYWw6dGVzdHByb3RvY29sOnNuYXBzaG90OnVuZGVmaW5lZA==
          schema:
            type: string
        - name: address
          in: query
          description: Voter address.
          example: '0xd409ceA9dD8dB30504168063953cE1Fa20748cab'
          schema:
            type: string
        - name: protocol
          in: query
          description: Protocol name.
          example: ens
          schema:
            type: string
        - name: adapter
          in: query
          description: Whether it is snapshot or onchain instances to query for
          example: onchain
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PendingVote'
              example: '{"data": [{"refId": "cHJvcG9zYWw6dGVzdHByb3RvY29sOnNuYXBzaG90OnVuZGVmaW5lZA==","protocol": "testProtocol","adapter": "snapshot","choice": 1,"voteRefId": "dm90ZTp0ZXN0cHJvdG9jb2w6c25hcHNob3Q6dW5kZWZpbmVkOjB4NGY1NGQxYjA1NGVlODM3N2Y3NzE2NjdjMGQxNzM0ZDkzODFlMTMzMA==","txnHash": "bafkreia2nhyksuyjcg7skvuhgdixhdtyzvjvzoobfqw7tlde6sp5yktqom","status": "success"}]}'
  '/voters/{address}/votes':
    get:
      tags:
        - vote
      summary: Get votes by voter
      operationId: getVoterVotes
      parameters:
        - name: address
          in: path
          description: Voter address.
          required: true
          example: '0xd409ceA9dD8dB30504168063953cE1Fa20748cab'
          schema:
            type: string
        - name: cname
          in: path
          description: Protocol cname.
          example: aave
          schema:
            type: string
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Response size limit
          required: false
          schema:
            type: number
        - name: fromTimestamp
          in: query
          description: Filter by votes after
          schema:
            type: string
        - name: untilTimestamp
          in: query
          description: Filter by votes before
          schema:
            type: string
      description: Get votes by voter
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vote'
              example: '{"data":[{"refId":"dm90ZTpzdXNoaTpkZWZhdWx0OnFtczdreWM0a3I2ZTFnc3Njc2s1bXBvZWRma3R3OG9ocXJjYWgzams3bXc3NWs6MHhkNDA5Y2VhOWRkOGRiMzA1MDQxNjgwNjM5NTNjZTFmYTIwNzQ4Y2Fi","proposalRefId":"cHJvcG9zYWw6c3VzaGk6ZGVmYXVsdDpxbXM3a3ljNGtyNmUxZ3NzY3NrNW1wb2VkZmt0dzhvaHFyY2FoM2prN213NzVr","protocol":"sushi","adapter":"default","proposalId":"QmS7kYC4KR6E1gssCsK5MPoeDfktW8oHqRCaH3jK7mW75K","address":"0xd409ceA9dD8dB30504168063953cE1Fa20748cab","power":147811.42,"choice":0,"time":{"timestamp":1625066741},"timestamp":1625066741,"proposalInfo":{"title":"Buy MemePad - https://memepad.co/ - LaunchPad for Meme coins","startTime":{"timestamp":1623031200},"endTime":{"timestamp":1684980000},"startTimestamp":1623031200,"endTimestamp":1684980000,"choices":["YES","YES"],"events":[],"currentState":"active"}}]}'
  /getVotesByAddresses:
    get:
      tags:
        - vote
      summary: Get votes by voter
      operationId: getVotesByAddresses
      description: Get votes by multiple addresses
      parameters:
        - name: addresses
          in: query
          description: Voter address.
          required: true
          example: '0xd409ceA9dD8dB30504168063953cE1Fa20748cab'
          schema:
            type: string
        - name: cname
          in: path
          description: Protocol cname.
          required: true
          example: aave
          schema:
            type: string
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Response size limit
          required: false
          schema:
            type: number
        - name: fromTimestamp
          in: query
          description: Filter by votes after
          schema:
            type: string
        - name: untilTimestamp
          in: query
          description: Filter by votes before
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vote'
              example: '{"data":[{"refId":"dm90ZTpzdXNoaTpkZWZhdWx0OnFtczdreWM0a3I2ZTFnc3Njc2s1bXBvZWRma3R3OG9ocXJjYWgzams3bXc3NWs6MHhkNDA5Y2VhOWRkOGRiMzA1MDQxNjgwNjM5NTNjZTFmYTIwNzQ4Y2Fi","proposalRefId":"cHJvcG9zYWw6c3VzaGk6ZGVmYXVsdDpxbXM3a3ljNGtyNmUxZ3NzY3NrNW1wb2VkZmt0dzhvaHFyY2FoM2prN213NzVr","protocol":"sushi","adapter":"default","proposalId":"QmS7kYC4KR6E1gssCsK5MPoeDfktW8oHqRCaH3jK7mW75K","address":"0xd409ceA9dD8dB30504168063953cE1Fa20748cab","power":147811.42,"choice":0,"time":{"timestamp":1625066741},"timestamp":1625066741,"proposalInfo":{"title":"Buy MemePad - https://memepad.co/ - LaunchPad for Meme coins","startTime":{"timestamp":1623031200},"endTime":{"timestamp":1684980000},"startTimestamp":1623031200,"endTimestamp":1684980000,"choices":["YES","YES"],"events":[],"currentState":"active"}}]}'
  '/userDetails/{address}':
    get:
      tags:
        - user
      summary: Get details of a user
      operationId: getUserDetails
      parameters:
        - name: address
          in: path
          description: Voter address.
          required: true
          example: '0xd409ceA9dD8dB30504168063953cE1Fa20748cab'
          schema:
            type: string
        - in: body
          name: uuid
          description: Current session UUID
          required: false
          schema:
            type: object
            properties:
              uuid:
                type: string
      description: Get user details
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
              example: '{"data": {"twitter": "https://twitter.com/test","website": "https://github.com/test","about": "Dev","ens": "test.eth","username": "test","address": "0x5F54D1b054eE8377F771667C0d1734d9381E1330","email": "sudheer.105@gmail.com", notificationPreferences: "{"rari": true}", associatedAddresses: "["0xd409ceA9dD8dB30504168063953cE1Fa20748cab"]", type: "organisation"}}'
  /batchUserDetails:
    get:
      tags:
        - user
      summary: Get details for multiple users
      operationId: getBatchUserDetails
      parameters:
        - name: addressesList
          in: query
          description: Voter addresses separated by commas.
          required: true
          example: '0xd409ceA9dD8dB30504168063953cE1Fa20748cab,0xcc0b26236afa80673b0859312a7ec16d2b72c1ea'
          schema:
            type: string
      description: Get details for multiple users
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
              example: '{"data":{"users":[{"pfpUrl":"","website":"pedrofernandes.dev","associatedAddresses":"","pfpImageId":"","bannerThumbnailUrl":"","ens":"pedrohasf.eth","address":"0xcC0B26236AFa80673b0859312a7eC16d2b72C1ea","twitter":"phasfernandes","bannerImageId":"","about":"Front end Developer","pfpThumbnailUrl":"","bannerUrl":"","username":"pedrohasf","type":""},{"twitter":"string","website":"string","about":"string","ens":"string","username":"string","address":"0x8d5237037A590A2dB531F3CfB8f42605cF306f34"}]}}'
  '/updateUserDetails/{address}':
    post:
      tags:
        - user
      summary: Update details of a user
      operationId: updateUserDetails
      parameters:
        - name: address
          in: path
          description: User address.
          required: true
          example: '0xd409ceA9dD8dB30504168063953cE1Fa20748cab'
          schema:
            type: string
        - in: body
          name: user
          description: User details
          required: true
          schema:
            type: object
            required:
              - email
              - ens
              - username
              - twitter
              - about
              - website
              - notificationPreferences
              - associatedAddresses
              - type
              - pfpUrl
              - pfpImageId
              - bannerThumbnailUrl
              - bannerImageId
              - pfpThumbnailUrl
              - bannerUrl
              - uuid
            properties:
              email:
                type: string
              ens:
                type: string
              username:
                type: string
              twitter:
                type: string
              about:
                type: string
              website:
                type: string
              notificationPreferences:
                type: string
              associatedAddresses:
                type: string
              type:
                type: string
              pfpUrl:
                type: string
              pfpImageId:
                type: string
              bannerThumbnailUrl:
                type: string
              bannerImageId:
                type: string
              pfpThumbnailUrl:
                type: string
              bannerUrl:
                type: string
              uuid:
                type: string
      description: Update user information
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: null
                    $ref: '#/components/schemas/User'
              example: '{"data": {"twitter": "https://twitter.com/sudheer105","website": "https://github.com/sudheerDev","about": "Dev","ens": "sudheert.eth","username": "sudheer","address": "0x4F54D1b054eE8377F771667C0d1734d9381E1330","email": "sudheer.105@gmail.com", notificationPreferences: "{"rari": true}", associatedAddresses: "["0xd409ceA9dD8dB30504168063953cE1Fa20748cab"]", type: "organisation"}}'
  '/getDelegationPitch/{protocol}/{address}':
    get:
      tags:
        - delegationPitch
      summary: Get delegation pitch by protocol and address
      operationId: getDelegationPitch
      parameters:
        - name: protocol
          in: path
          description: Protocol of pitch to query
          required: true
          example: ens
          schema:
            type: string
        - in: path
          name: address
          description: User address of pitch
          required: true
          example: '0xd409ceA9dD8dB30504168063953cE1Fa20748cab'
          schema:
            type: string
      description: Get delegation pitch by protocol and address
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DelegationPitch'
              example: '{"data":{"address":"0xd409ceA9dD8dB30504168063953cE1Fa20748cab","delegationPitch":"My Delegation Pitch","protocol":"ens"}}'
  '/getDelegationPitchesByProtocol/{protocol}':
    get:
      tags:
        - delegationPitch
      summary: Get delegation pitches by protocol
      operationId: getDelegationPitchesByProtocol
      parameters:
        - name: protocol
          in: path
          description: Protocol to query
          required: true
          example: ens
          schema:
            type: string
      description: Get delegation pitches by protocol
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: null
                    $ref: '#/components/schemas/DelegationPitch'
              example: '{"data":{"delegationPitches":[{"address":"0xd409ceA9dD8dB30504168063953cE1Fa20748cab","delegationPitch":"My Delegation Pitch","protocol":"ens"}]}}'
  '/getDelegationPitchesByAddress/{address}':
    get:
      tags:
        - delegationPitch
      summary: Get delegation pitches by address
      operationId: getDelegationPitchesByAddress
      parameters:
        - name: address
          in: path
          description: Address of the user to query
          required: true
          example: '0xd409ceA9dD8dB30504168063953cE1Fa20748cab'
          schema:
            type: string
      description: Get delegation pitches by address
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: null
                    $ref: '#/components/schemas/DelegationPitch'
              example: '{"data":{"delegationPitches":[{"address":"0xd409ceA9dD8dB30504168063953cE1Fa20748cab","delegationPitch":"My Delegation Pitch","protocol":"ens"}]}}'
  /updateDelegationPitch:
    post:
      tags:
        - delegationPitch
      summary: Update the delegation pitch of a user for a protocol
      operationId: updateDelegationPitch
      requestBody:
        content:
          application/json:
            name: details
            description: Pitch details
            required: true
            schema:
              type: object
              required:
                - protocol
                - address
                - delegationPitch
                - uuid
              properties:
                protocol:
                  type: string
                address:
                  type: string
                delegationPitch:
                  type: string
                uuid:
                  type: string
      description: Update the delegation pitch of a user for a protocol
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DelegationPitch'
              example: '{"data":{"address":"0xd409ceA9dD8dB30504168063953cE1Fa20748cab","delegationPitch":"My Delegation Pitch","protocol":"ens"}}'
  '/protocols/{cname}/voters':
    get:
      tags:
        - voter
      summary: Get all voters for a protocol
      operationId: getProtocolVoters
      parameters:
        - name: cname
          in: path
          description: Protocol cname.
          required: true
          example: aave
          schema:
            type: string
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: 'Response size limit, defaults to 20'
          required: false
          schema:
            type: number
      description: Get all voters for a protocol
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Voter'
                  nextCursor:
                    type: string
              example: '{"data":[{"address":"0xdD709cAE362972cb3B92DCeaD77127f7b8D58202","firstVoteCast":1608813954,"lastVoteCast":1629265575,"totalVotesCast":20,"protocols":[{"protocol":"aave","totalVotesCast":20,"lastVoteCast":1629265575,"firstVoteCast":1608813954,"totalPowerCast":3873320,"lastCastPower":188761.45}]}],"nextCursor":"eysddfsdfsd=="}'
  /voters:
    get:
      tags:
        - voter
      summary: Get voters across all protocols
      operationId: getVoters
      description: Get voters across all protocols
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: 'Response size limit, defaults to 20'
          required: false
          schema:
            type: number
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Voter'
                  nextCursor:
                    type: string
              example: '{"data":[{"address":"0xdD709cAE362972cb3B92DCeaD77127f7b8D58202","firstVoteCast":1608813954,"lastVoteCast":1629265575,"totalVotesCast":20,"protocols":[{"protocol":"aave","totalVotesCast":20,"lastVoteCast":1629265575,"firstVoteCast":1608813954,"totalPowerCast":3873320,"lastCastPower":188761.45}]}],"nextCursor":"eysddfsdfsd=="}'
  '/voters/{address}':
    get:
      tags:
        - voter
      summary: Get details for a specific voter
      operationId: getVoter
      parameters:
        - name: address
          in: path
          description: Voter address.
          required: true
          example: '0xd409ceA9dD8dB30504168063953cE1Fa20748cab'
          schema:
            type: string
      description: Get details for a specific voter
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Voter'
              example: '{"data":{"address":"0xd409ceA9dD8dB30504168063953cE1Fa20748cab","firstVoteCast":1625066741,"lastVoteCast":1625066741,"totalVotesCast":1,"protocols":[{"protocol":"sushi","totalVotesCast":1,"lastVoteCast":1625066741,"firstVoteCast":1625066741,"totalPowerCast":147811.42,"lastCastPower":147811.42}]}}'
  /stats:
    get:
      tags:
        - stats
      summary: Get global platform stats
      operationId: getStats
      description: Get global platform stats
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      totalProposals:
                        type: integer
                      totalVotesCast:
                        type: integer
                      totalUniqueVoters:
                        type: integer
                      totalProtocols:
                        type: integer
              example: '{"data":{"totalProposals":2473,"totalProtocols":62,"totalUniqueVoters":37387,"totalVotesCast":216743}}'
      parameters: []
  '/delegates/getDelegatedVotingPowerByProtocol/{protocol}':
    get:
      tags:
        - delegation
      summary: Get voting power by protocol
      operationId: getDelegatedVotingPowerByProtocol
      description: Get voting power by protocol
      parameters:
        - name: protocol
          in: path
          description: cname of the protocol.
          required: true
          example: '0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12'
          schema:
            type: string
        - name: limit
          in: query
          description: Response size limit
          required: false
          example: 20
          schema:
            type: number
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          example: eyJyZWZJZCI6IlpHVnNaV2RoZEdsdmJt
          schema:
            type: string
        - name: adapters
          in: query
          description: Array of Comma seperated adapters, to query for
          require: true
          example: '["onchain", "snapshot"]'
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        protocol:
                          type: string
                        adapter:
                          type: string
                        address:
                          type: string
                        votePower:
                          type: integer
                        timestamp:
                          type: integer
                        blockNumber:
                          type: integer
              examples:
                '0':
                  value: '{"data":[{"protocol":"ens","adapter":"onchain","address":"0x983110309620D911731Ac0932219af06091b6744","votePower":"326596.6467","timestamp":"1650299076121","blockNumber":"14610206"}],"nextCursor":"eyJyZWZJZCI6IlpHVnNaV2RoZEdsdmJuQnZkMlZ5T21WdWN6cHZibU5vWVdsdU9qQjRPVGd6TVRFd016QTVOakl3WkRreE1UY3pNV0ZqTURrek1qSXhPV0ZtTURZd09URmlOamMwTkE9PSIsInZvdGVQb3dlciI6IjMyNjU5Ni42NDY3In0="}'
  '/delegates/getDelegatedVotingPowerByAddress/{address}':
    get:
      tags:
        - delegation
      summary: Get voting power by address
      operationId: getDelegatedVotingPowerByAddress
      description: Get voting power by address
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        protocol:
                          type: string
                        adapter:
                          type: string
                        address:
                          type: string
                        votePower:
                          type: integer
                        timestamp:
                          type: integer
                        blockNumber:
                          type: integer
              examples:
                '0':
                  value: '{"data":[{"protocol":"ens","adapter":"onchain","address":"0x983110309620D911731Ac0932219af06091b6744","votePower":"326596.6467","timestamp":"1650299076121","blockNumber":"14610206"}],"nextCursor":"eyJyZWZJZCI6IlpHVnNaV2RoZEdsdmJuQnZkMlZ5T21WdWN6cHZibU5vWVdsdU9qQjRPVGd6TVRFd016QTVOakl3WkRreE1UY3pNV0ZqTURrek1qSXhPV0ZtTURZd09URmlOamMwTkE9PSIsInZvdGVQb3dlciI6IjMyNjU5Ni42NDY3In0="}'
  /siwe/nonceV2:
    post:
      tags:
        - SIWE
      summary: Get a new nonce for use when signing SIWE message
      operationId: nonce
      parameters:
        - in: body
          name: address
          description: Address wanting to sign in with
          required: true
          schema:
            type: object
            required:
              - address
            properties:
              address:
                type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    address:
                      type: string
              examples:
                '0':
                  value: '{"data":{"address":"0x002e08000acbbae2155fab7ac01929564949070d"}}'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
              x-examples:
                Example 1:
                  address: '0x8d5237037A590A2dB531F3CfB8f42605cF306f34'
            examples:
              Example 1:
                value:
                  address: '0x8d5237037A590A2dB531F3CfB8f42605cF306f34'
          application/xml:
            schema:
              type: object
              properties:
                address:
                  type: string
              x-examples:
                Example 1:
                  address: '0x8d5237037A590A2dB531F3CfB8f42605cF306f34'
      description: ''
  /siwe/signIn:
    post:
      tags:
        - SIWE
      summary: Pass a signed SIWE message to be validated
      operationId: signIn
      parameters:
        - name: message
          in: body
          description: Valid signed SIWE message
          required: true
          schema:
            type: object
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    address:
                      type: string
                    ens:
                      type: string
                    uuid:
                      type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: object
                  properties:
                    domain:
                      type: string
                    address:
                      type: string
                    chainId:
                      type: string
                    uri:
                      type: string
                    version:
                      type: string
                    statement:
                      type: string
                    type:
                      type: string
                    nonce:
                      type: string
                    issuedAt:
                      type: string
                    signature:
                      type: string
              x-examples:
                Example 1:
                  message:
                    domain: 'localhost:4361'
                    address: '0x8d5237037A590A2dB531F3CfB8f42605cF306f34'
                    chainId: '1'
                    uri: 'http://localhost:4361'
                    version: '1'
                    statement: SIWE Notepad Example
                    type: Personal signature
                    nonce: fOJf29Pfn7yBQQSvE
                    issuedAt: '2022-11-16T00:51:20.753Z'
                    signature: '0x47b7e6b808893138a04b42514e8a839fb08219aba6839c9c59007b386e221140210b4b2ee33bfc1e86f57c7905de7892ea39c54d82dc631a666a9d8ace59066f1b'
  /siwe/signOut:
    post:
      tags:
        - SIWE
      summary: Used to sign out of SIWE session
      operationId: signOut
      parameters:
        - in: body
          name: address
          description: Address wishing to sign out
          required: true
          schema:
            type: object
            required:
              - address
              - uuid
            properties:
              address:
                type: string
              uuid:
                type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    success:
                      type: boolean
            application/xml:
              schema:
                type: object
                properties: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                uuid:
                  type: string
              x-examples:
                Example 1:
                  address: '0x8d5237037A590A2dB531F3CfB8f42605cF306f34'
                  uuid: ddc2ef52-bf80-485b-9823-435d3181f397
  /siwe/me:
    post:
      tags:
        - SIWE
      summary: Used to check status of SIWE session
      operationId: me
      parameters:
        - in: body
          name: address
          description: Address wishing to check
          required: true
          schema:
            type: object
            required:
              - address
              - uuid
            properties:
              address:
                type: string
              uuid:
                type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    success:
                      type: boolean
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                uuid:
                  type: string
              x-examples:
                Example 1:
                  address: '0x8d5237037A590A2dB531F3CfB8f42605cF306f34'
                  uuid: ddc2ef52-bf80-485b-9823-435d3181f397
  /summary:
    get:
      tags:
        - stats
      summary: Get a summary recently indexed data
      operationId: getSummary
      parameters:
        - name: from
          in: query
          description: Start date (ISO-8601)
          required: false
          example: '2021-09-23'
          schema:
            type: string
        - name: until
          in: query
          description: End date (ISO-8601)
          required: false
          example: '2021-09-30'
          schema:
            type: string
      description: Get a summary recently indexed data
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      totalVotesCast:
                        type: integer
                      uniqueVoters:
                        type: integer
                      uniqueProtocols:
                        type: integer
                      uniqueProposals:
                        type: integer
                      createdProposals:
                        type: integer
              example: '{"data":{"totalVotesCast":8826,"uniqueVoters":2693,"uniqueProtocols":24,"uniqueProposals":70,"createdProposals":34}}'
  '/delegates/{address}/getDelegatorCount':
    get:
      tags:
        - delegates
      summary: Gets delegator count per protocol
      operationId: getDelegatorCount
      parameters:
        - name: address
          in: path
          description: The address delegating.
          required: true
          example: '0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12'
          schema:
            type: string
        - name: protocol
          in: query
          description: Protocol to query for
          example: ens
          schema:
            type: string
        - name: adapters
          in: query
          description: Array of Comma seperated adapters, to query for
          example: '["onchain", "snapshot"]'
          schema:
            type: string
      description: Gets delegator count per protocol
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    items:
                      $ref: '#/components/schemas/DelegatorCountDetails'
              example: '{"data":{"delegatorCount":5731}}'
  '/delegates/{address}/getDelegatorCountsAcrossProtocols':
    get:
      tags:
        - delegates
      summary: Gets delegator counts across protocols
      operationId: getDelegatorCountsAcrossProtocols
      parameters:
        - name: address
          in: path
          description: The address delegating.
          required: true
          example: '0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12'
          schema:
            type: string
        - name: limit
          in: query
          description: Response size limit
          required: false
          example: 20
          schema:
            type: number
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          example: eyJyZWZJZCI6IlpHVnNaV2RoZEdsdmJt
          schema:
            type: string
        - name: adapters
          in: query
          description: Array of Comma seperated adapters, to query for
          require: true
          example: '["onchain", "snapshot"]'
          schema:
            type: string
      description: Gets delegator counts across protocols
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DelegatorCountsAcrossProtocolsDetails'
              example: '{"data":[{"protocol":"gitcoin","delegatorCount":344},{"protocol":"ens","delegatorCount":2778}],"nextCursor":"eyJwcm90b2NvbCI6ImVucyJ9"}'
  /getTransactionReceipt:
    get:
      tags:
        - Transactions
      summary: Get transaction status
      operationId: getTransactionReceipt
      parameters:
        - name: chainId
          in: query
          description: chainId of the transaction
          required: false
          example: '1'
          schema:
            type: string
        - name: txnHashes
          in: query
          description: Transaction hashes
          required: false
          example: '["0x88df016429689c079f3b2f6ad39fa052532c56795b733da78a91ebe6a713944b"]'
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TransactionHashData'
              example: '{"data":{"jsonrpc":"2.0","id":1,"result":{"blockHash":"0x1d59ff54b1eb26b013ce3cb5fc9dab3705b415a67127a003c3e61eb445bb8df2","blockNumber":"0x5daf3b","hash":"0x88df016429689c079f3b2f6ad39fa052532c56795b733da78a91ebe6a713944b","from":"0xa7d9ddbe1f17865597fbd27ec712455208b6b76d","gas":"0xc350","gasPrice":"0x4a817c800","input":"0x68656c6c6f21","nonce":"0x15","r":"0x1b5e176d927f8e9ab405058b2d2457392da3e20f328b16ddabcebc33eaac5fea","s":"0x4ba69724e8f69de52f0125ad8b3c5c2cef33019bac3249e2c0a2192766d1721c","to":"0xf02c1c8e6114b1dbe8937a39260b5b0a374432bb","transactionIndex":"0x41","type":"0x0","v":"0x25","value":"0xf3dbb76162000"}}}'
  '/voters/{address}/votePowers':
    get:
      tags:
        - Vote Power
      summary: Get vote power of an address across all protocols
      operationId: getVoterVotePowersAcrossProtocols
      parameters:
        - name: address
          in: path
          description: Wallet Address.
          required: true
          example: '0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12'
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VotePowersAcrossProtocols'
              example: '{"data":[{"protocol":"ens","adapter":"onchain","votePower":136993.42559072154}]}'
  /vote/getEncodedCastVoteData:
    post:
      tags:
        - Vote
      summary: Get encoded data to cast a vote
      operationId: getEncodedCastVoteData
      requestBody:
        content:
          application/json:
            name: Details
            required: true
            schema:
              type: object
              required: true
              properties:
                proposalId:
                  type: string
                choice:
                  type: number
                address:
                  type: string
                reason:
                  type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EncodedCastVoteData'
              example: '{"data":{"encodedData":"0xb384abef00000000000000000000000000000000000000000000000000000000000003f80000000000000000000000000000000000000000000000000000000000000000","toContractAddress":"0xD3A9FE267852281a1e6307a1C37CDfD76d39b133"}}'
  '/delegates/{address}/getDelegationsToAddress':
    get:
      tags:
        - delegates
      summary: Gets delegations to an address for a protocol and an adapter implmentation
      operationId: getDelegationsToAddress
      parameters:
        - name: address
          in: path
          description: The address delegating to.
          required: true
          example: '0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12'
          schema:
            type: string
        - name: adapter
          in: query
          description: Whether it is snapshot or onchain instances to query for
          required: true
          example: onchain
          schema:
            type: string
        - name: protocol
          in: query
          description: protocol to query for
          required: true
          example: ens
          schema:
            type: string
        - name: limit
          in: query
          description: Response size limit
          required: false
          example: 20
          schema:
            type: number
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          example: eyJyZWZJZCI6IlpHVnNaV2RoZEdsdmJt
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GetDelegations'
              example: '{"data":[{"protocol":"ens","adapter":"onchain","address":"0x4F54D1b054eE8377F771667C0d1734d9381E1330","addressDelegatedTo":"0x4F54D1b054eE8377F771667C0d1734d9381E1330","timestamp":"1676453367517"}]}'
  '/delegates/{address}/getDelegationsFromAddress':
    get:
      tags:
        - delegates
      summary: Gets delegations to an address for an adapter implmentation
      operationId: getDelegationsFromAddress
      parameters:
        - name: address
          in: path
          description: The address delegating from.
          required: true
          example: '0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12'
          schema:
            type: string
        - name: adapter
          in: query
          description: Whether it is snapshot or onchain instances to query for
          required: true
          example: onchain
          schema:
            type: string
        - name: protocol
          in: query
          description: protocol to query for
          required: false
          example: ens
          schema:
            type: string
        - name: limit
          in: query
          description: Response size limit
          required: false
          example: 20
          schema:
            type: number
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          example: eyJyZWZJZCI6IlpHVnNaV2RoZEdsdmJt
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GetDelegations'
                  nextCursor:
                    type: string
              example: '{"data":[{"protocol":"ens","adapter":"onchain","address":"0x4F54D1b054eE8377F771667C0d1734d9381E1330","addressDelegatedTo":"0x4F54D1b054eE8377F771667C0d1734d9381E1330","timestamp":"1676453367517"}]}'
  '/delegates/getTotalDelegatedTokensForProtocol/{protocol}':
    get:
      tags:
        - delegates
      summary: Get total delegated tokens for a protocol and an adapter implementation
      operationId: getTotalDelegatedTokensForProtocol
      parameters:
        - name: protocol
          in: path
          description: protocol to query for
          required: true
          example: ens
          schema:
            type: string
        - name: adapters
          in: query
          description: Array of Comma seperated adapters, to query for
          require: true
          example: '["onchain", "snapshot"]'
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    total:
                      type: string
              example: '{"data":{"total":"5161989.0375"}}'
  /delegates/getDelegatedVotingPowerByAddresses:
    get:
      tags:
        - delegates
      summary: Get total delegated voting power for addresses and an adapter implementation
      operationId: getDelegatedVotingPowerByAddresses
      parameters:
        - name: addresses
          in: query
          description: Voting power for addresses seperated by comma.
          required: false
          example: '0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12,0x4F54D1b054eE8377F771667C0d1734d9381E1330'
          schema:
            type: string
        - name: adapter
          in: query
          description: Whether it is snapshot or onchain instances to query for
          required: false
          example: onchain
          schema:
            type: string
        - name: limit
          in: query
          description: Response size limit
          required: false
          example: 20
          schema:
            type: number
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          example: eyJyZWZJZCI6IlpHVnNaV2RoZEdsdmJt
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DelegatedVotingPowerByAddresses'
                  nextCursor:
                    type: string
              example: '{"data":[{"protocol":"hopprotocol","adapter":"onchain","address":"0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12","votePower":"630049.2821","timestamp":null,"blockNumber":"17584610"}]}'
  '/delegates/getDelegatorsByProtocol/{protocol}':
    get:
      tags:
        - delegates
      summary: Get delegations by protocol
      operationId: getDelegatorsByProtocol
      parameters:
        - name: protocol
          in: path
          description: Protocol cname to query for
          required: true
          example: ens
          schema:
            type: string
        - name: adapter
          in: query
          description: Whether it is snapshot or onchain instances to query for
          required: false
          example: onchain
          schema:
            type: string
        - name: limit
          in: query
          description: Response size limit
          required: false
          example: 20
          schema:
            type: number
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          example: eyJyZWZJZCI6IlpHVnNaV2RoZEdsdmJt
          schema:
            type: string
        - name: addressDelegatedTo
          in: query
          description: address delegating to
          required: false
          example: '0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12'
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GetDelegations'
                  nextCursor:
                    type: string
              example: '{"data":[{"protocol":"ens","adapter":"onchain","address":"0x4F54D1b054eE8377F771667C0d1734d9381E1330","addressDelegatedTo":"0x4F54D1b054eE8377F771667C0d1734d9381E1330","timestamp":"1676453367517"}]}'
  '/delegates/getDelegatorsToAddress/{address}':
    get:
      tags:
        - delegates
      summary: Gets delegator along with vote power to an address for a protocol and an adapter implmentation
      operationId: getDelegationsToAddressWithPower
      parameters:
        - name: address
          in: path
          description: The address delegating to.
          required: true
          example: '0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12'
          schema:
            type: string
        - name: protocol
          in: query
          description: protocol to query for
          required: true
          example: ens
          schema:
            type: string
        - name: limit
          in: query
          description: Response size limit
          required: false
          example: 20
          schema:
            type: number
        - name: cursor
          in: query
          description: Pagination cursor to retrieve next page
          required: false
          example: eyJyZWZJZCI6IlpHVnNaV2RoZEdsdmJt
          schema:
            type: string
        - name: adapters
          in: query
          description: Array of Comma seperated adapters, to query for
          require: true
          example: '["onchain", "snapshot"]'
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GetDelegationsWithPower'
                  nextCursor:
                    type: string
              example: '{"data":[{"protocol":"ens","adapter":"onchain","delegator":"0x16CAc4f493db73C12Ff9FebBF794Be4A31dC865D","amount":"3475.0130","timestamp":"1636525280"}],"nextCursor":"eyJhZGRyZXNzIjoiMHg0Q0FFQ0ZjMDFhZDI5MDdkMzdGNTFkMjNlMDY5MTI0NGY0QjU3NjkyIiwiYmFsYW5jZSI6IjczNS4yNjkzIn0="}'
  /discourseTopics:
    get:
      summary: Get Discourse Topics
      tags:
        - discourse
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        refId:
                          type: string
                        protocol:
                          type: string
                        imageUrl:
                          type:
                            - 'null'
                            - string
                        title:
                          type: string
                        slug:
                          type: string
                        tags:
                          type: string
                        postsCount:
                          type: integer
                        views:
                          type: integer
                        replyCount:
                          type: integer
                        likeCount:
                          type: integer
                        categoryId:
                          type: integer
                        pinned:
                          type: boolean
                        visible:
                          type: boolean
                        closed:
                          type: boolean
                        archived:
                          type: boolean
                        createdAt:
                          type: string
                        bumpedAt:
                          type: string
                  nextCursor:
                    type: string
                x-examples:
                  Example 1:
                    items:
                      - id: '6558'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjU1OA==
                        protocol: optimism
                        imageUrl: null
                        title: Future Citizenship Selection Criteria
                        slug: future-citizenship-selection-criteria
                        tags: '{}'
                        postsCount: 1
                        views: 23
                        replyCount: 0
                        likeCount: 0
                        categoryId: 46
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-08-01T11:05:27.814Z'
                        bumpedAt: '2023-08-01T11:05:27.859Z'
                      - id: '6557'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjU1Nw==
                        protocol: optimism
                        imageUrl: 'https://global.discourse-cdn.com/standard10/uploads/bc41dd/optimized/2X/3/3da4c4acab9da5ef2dfc65f8b8d7d0a29364f2aa_2_1024x546.jpeg'
                        title: 'RetroPGF 3: Voting badge distribution'
                        slug: retropgf-3-voting-badge-distribution
                        tags: '{"round-3"}'
                        postsCount: 1
                        views: 43
                        replyCount: 0
                        likeCount: 3
                        categoryId: 46
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-08-01T11:00:04.135Z'
                        bumpedAt: '2023-08-01T11:19:52.290Z'
                      - id: '6553'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjU1Mw==
                        protocol: optimism
                        imageUrl: 'https://global.discourse-cdn.com/standard10/uploads/bc41dd/optimized/2X/7/7da074d8221e4ea7b00f7e73ae8851c4f773d15a_2_1024x577.png'
                        title: 'Incentive Impact Analysis: PoolTogether'
                        slug: incentive-impact-analysis-pooltogether
                        tags: '{}'
                        postsCount: 2
                        views: 69
                        replyCount: 0
                        likeCount: 9
                        categoryId: 62
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-31T19:36:20.238Z'
                        bumpedAt: '2023-07-31T23:24:47.954Z'
                      - id: '6540'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjU0MA==
                        protocol: optimism
                        imageUrl: 'https://global.discourse-cdn.com/standard10/uploads/bc41dd/optimized/2X/7/70db52129ba66d0c11a364995eeab7384ba6c089_2_1024x614.jpeg'
                        title: LLMs assisting badgeholders
                        slug: llms-assisting-badgeholders
                        tags: '{}'
                        postsCount: 4
                        views: 75
                        replyCount: 0
                        likeCount: 8
                        categoryId: 46
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-30T16:03:17.120Z'
                        bumpedAt: '2023-08-01T08:57:15.648Z'
                      - id: '6538'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjUzOA==
                        protocol: optimism
                        imageUrl: null
                        title: 'Setup myself as a delegator, deligate and vote on proposal'
                        slug: setup-myself-as-a-delegator-deligate-and-vote-on-proposal
                        tags: '{"delegation"}'
                        postsCount: 3
                        views: 53
                        replyCount: 0
                        likeCount: 2
                        categoryId: 1
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-29T21:20:58.195Z'
                        bumpedAt: '2023-07-31T01:10:16.927Z'
                      - id: '6535'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjUzNQ==
                        protocol: optimism
                        imageUrl: null
                        title: NanoQF a minimal grants protocol on EAS
                        slug: nanoqf-a-minimal-grants-protocol-on-eas
                        tags: '{}'
                        postsCount: 1
                        views: 43
                        replyCount: 0
                        likeCount: 1
                        categoryId: 63
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-29T13:14:16.162Z'
                        bumpedAt: '2023-07-29T13:14:16.235Z'
                      - id: '6533'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjUzMw==
                        protocol: optimism
                        imageUrl: null
                        title: Onboard Opsheet as the first EVM chain for Starksheet
                        slug: onboard-opsheet-as-the-first-evm-chain-for-starksheet
                        tags: '{}'
                        postsCount: 3
                        views: 65
                        replyCount: 1
                        likeCount: 2
                        categoryId: 63
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-28T20:24:01.022Z'
                        bumpedAt: '2023-07-31T10:24:20.103Z'
                      - id: '6516'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjUxNg==
                        protocol: optimism
                        imageUrl: null
                        title: '[updates] Improving Governance Accessibility through Praise and Contribution Based Attestations'
                        slug: updates-improving-governance-accessibility-through-praise-and-contribution-based-attestations
                        tags: '{"season-4","intent-4"}'
                        postsCount: 3
                        views: 102
                        replyCount: 0
                        likeCount: 6
                        categoryId: 63
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-25T22:40:43.253Z'
                        bumpedAt: '2023-07-28T09:02:29.251Z'
                      - id: '6515'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjUxNQ==
                        protocol: optimism
                        imageUrl: null
                        title: 'Law of Chains v0.1: Section-by-Section Overview'
                        slug: law-of-chains-v0-1-section-by-section-overview
                        tags: '{}'
                        postsCount: 2
                        views: 744
                        replyCount: 0
                        likeCount: 15
                        categoryId: 1
                        pinned: false
                        visible: true
                        closed: true
                        archived: false
                        createdAt: '2023-07-25T17:01:29.532Z'
                        bumpedAt: '2023-07-25T18:51:46.009Z'
                      - id: '6514'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjUxNA==
                        protocol: optimism
                        imageUrl: null
                        title: 'Law of Chains v0.1: Full Draft'
                        slug: law-of-chains-v0-1-full-draft
                        tags: '{}'
                        postsCount: 11
                        views: 1415
                        replyCount: 2
                        likeCount: 48
                        categoryId: 1
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-25T17:00:55.001Z'
                        bumpedAt: '2023-08-01T10:38:40.114Z'
                      - id: '6482'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjQ4Mg==
                        protocol: optimism
                        imageUrl: 'https://global.discourse-cdn.com/standard10/uploads/bc41dd/optimized/2X/6/61e02dc57bb7917bafca872f9ae0955b5bff6ae6_2_1024x512.png'
                        title: 'OPML: OPtimistic Machine Learning on Blockchain'
                        slug: opml-optimistic-machine-learning-on-blockchain
                        tags: '{}'
                        postsCount: 1
                        views: 75
                        replyCount: 0
                        likeCount: 0
                        categoryId: 40
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-22T02:32:02.153Z'
                        bumpedAt: '2023-07-22T02:32:02.203Z'
                      - id: '6481'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjQ4MQ==
                        protocol: optimism
                        imageUrl: null
                        title: 'Education and Training on Conflict Management, with Gravity DAO'
                        slug: education-and-training-on-conflict-management-with-gravity-dao
                        tags: '{"season-4"}'
                        postsCount: 2
                        views: 162
                        replyCount: 0
                        likeCount: 10
                        categoryId: 63
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-21T22:29:42.079Z'
                        bumpedAt: '2023-07-28T14:02:42.946Z'
                      - id: '6480'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjQ4MA==
                        protocol: optimism
                        imageUrl: null
                        title: Cycle 14 Rubric Updates
                        slug: cycle-14-rubric-updates
                        tags: '{"season-4","cycle-14"}'
                        postsCount: 3
                        views: 144
                        replyCount: 1
                        likeCount: 4
                        categoryId: 52
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-21T04:23:58.815Z'
                        bumpedAt: '2023-07-24T12:51:05.811Z'
                      - id: '6479'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjQ3OQ==
                        protocol: optimism
                        imageUrl: 'https://global.discourse-cdn.com/standard10/uploads/bc41dd/optimized/2X/d/d6e66a38f20806ad89e6ee32bb1a3823f36611de_2_1024x364.png'
                        title: 'Token House participation and incentives: an extended analysis'
                        slug: token-house-participation-and-incentives-an-extended-analysis
                        tags: '{"season-4","delegation"}'
                        postsCount: 13
                        views: 397
                        replyCount: 4
                        likeCount: 53
                        categoryId: 41
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-21T02:29:23.751Z'
                        bumpedAt: '2023-07-24T18:55:41.658Z'
                      - id: '6477'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjQ3Nw==
                        protocol: optimism
                        imageUrl: null
                        title: '2nd Citizens'' House community call [August 1st @ 9am PT / 12pm ET / 6pm CET]'
                        slug: 2nd-citizens-house-community-call-august-1st-9am-pt-12pm-et-6pm-cet
                        tags: '{}'
                        postsCount: 3
                        views: 124
                        replyCount: 1
                        likeCount: 2
                        categoryId: 55
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-20T11:30:54.312Z'
                        bumpedAt: '2023-08-01T13:08:06.736Z'
                      - id: '6476'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjQ3Ng==
                        protocol: optimism
                        imageUrl: null
                        title: '25th OP Community Call **LAW OF CHAINS EDITION** will be [Tuesday August 1st @ 10am PT / 1pm ET / 7pm CET]'
                        slug: 25th-op-community-call-law-of-chains-edition-will-be-tuesday-august-1st-10am-pt-1pm-et-7pm-cet
                        tags: '{}'
                        postsCount: 1
                        views: 111
                        replyCount: 0
                        likeCount: 4
                        categoryId: 55
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-20T05:18:44.438Z'
                        bumpedAt: '2023-07-31T21:41:11.421Z'
                      - id: '6471'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjQ3MQ==
                        protocol: optimism
                        imageUrl: 'https://global.discourse-cdn.com/standard10/uploads/bc41dd/optimized/2X/5/554e68d3e42f4b625fb54008e734c35c4b971339_2_1024x512.png'
                        title: The Future of Optimism Governance
                        slug: the-future-of-optimism-governance
                        tags: '{}'
                        postsCount: 3
                        views: 49
                        replyCount: 1
                        likeCount: 6
                        categoryId: 57
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-19T12:16:25.765Z'
                        bumpedAt: '2023-07-19T15:20:50.963Z'
                      - id: '6465'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjQ2NQ==
                        protocol: optimism
                        imageUrl: null
                        title: '[DRAFT] User-friendly interface and resources for tracking on-chain governance metrics'
                        slug: draft-user-friendly-interface-and-resources-for-tracking-on-chain-governance-metrics
                        tags: '{"season-4","intent-4"}'
                        postsCount: 1
                        views: 12
                        replyCount: 0
                        likeCount: 0
                        categoryId: 63
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-17T19:43:49.487Z'
                        bumpedAt: '2023-07-17T19:43:49.571Z'
                      - id: '6464'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjQ2NA==
                        protocol: optimism
                        imageUrl: null
                        title: 'Governance Update #7'
                        slug: governance-update-7
                        tags: '{}'
                        postsCount: 1
                        views: 52
                        replyCount: 0
                        likeCount: 8
                        categoryId: 57
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-17T16:20:24.341Z'
                        bumpedAt: '2023-07-17T16:20:24.432Z'
                      - id: '6457'
                        refId: ZGlzY291cnNldG9waWM6b3B0aW1pc206NjQ1Nw==
                        protocol: optimism
                        imageUrl: null
                        title: O valor irá ultrapassar os 5$
                        slug: o-valor-ira-ultrapassar-os-5
                        tags: '{"passed"}'
                        postsCount: 3
                        views: 47
                        replyCount: 0
                        likeCount: 1
                        categoryId: 1
                        pinned: false
                        visible: true
                        closed: false
                        archived: false
                        createdAt: '2023-07-16T21:33:46.096Z'
                        bumpedAt: '2023-07-16T23:36:43.993Z'
                    nextCursor: eyJpZCI6IjY0NTciLCJwYWdlIjowfQ==
      operationId: get-discourseTopics
      x-stoplight:
        id: h64ftsgxz14bw
      description: |-
        Discourse Topics are the top level discussions on discourse.
        Sorted by the bumpedAt property

        List of protocol cnames that there is discourse data for:
        "0xgov",
        "epns",
        "aave",
        "aavegotchi",
        "abachi",
        "akropolis",
        "ampleforth",
        "angle",
        "apecoin",
        "arbitrum",
        "armorfi",
        "babydogearmy",
        "badgerdao",
        "balancer",
        "bancor",
        "banklessvault",
        "bitdao",
        "citydao",
        "compound",
        "compoundgrants",
        "creamfinance",
        "cryptex",
        "curvefi",
        "daosquare",
        "decentraland",
        "devdao",
        "doodles",
        "ease",
        "elyfi",
        "ens",
        "esd",
        "eulerfi",
        "fei",
        "fraxfi",
        "gearbox",
        "gitcoin",
        "gooddollar",
        "dhedge",
        "graphprotocol",
        "hopprotocol",
        "idlefinance",
        "indexCoop",
        "indexed",
        "instadapp",
        "interest",
        "inverse",
        "kleros",
        "kyber",
        "lexpunk",
        "lido",
        "lilnouns",
        "lootdao",
        "maplefinance",
        "metafactory",
        "mstable",
        "nexusmutual",
        "nounsdao",
        "optimism",
        "paladin",
        "perpetualprotocol",
        "phonon",
        "piedao",
        "primedao",
        "radicle",
        "rally",
        "rariFoundation",
        "reflexerfi",
        "saddlefi",
        "safedao",
        "silo",
        "sushi",
        "token-engineering-commons",
        "threshold",
        "tokenlon",
        "truefigov",
        "uniswap",
        "unlock",
        "ybaby"
      parameters:
        - schema:
            type: string
          in: query
          name: protocol
          description: 'protocol cname that you want to get discourse topics for, you can pass multiple protocol cnames separated by ","'
        - schema:
            type: number
          in: query
          name: topicId
          description: 'a single discourse topic ID, this will return a single topic with that ID'
        - schema:
            type: number
          in: query
          name: categoryId
          description: 'category ID number, this will return all topics with that categoryId'
        - schema:
            type: string
          in: query
          name: cursor
          description: Pagination cursor to retrieve next page
    parameters: []
  /discourseCategories:
    get:
      summary: Get Discourse Categories
      tags:
        - discourse
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        refId:
                          type: string
                        protocol:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                        descriptionText:
                          type: string
                        descriptionExcerpt:
                          type: string
                        color:
                          type: string
                        textColor:
                          type: string
                        slug:
                          type: string
                        topicCount:
                          type: integer
                        postCount:
                          type: integer
                        position:
                          type: integer
                        topicUrl:
                          type: string
                        numFeaturedTopics:
                          type: integer
                        topicsWeek:
                          type: integer
                        topicsMonth:
                          type: integer
                        topicsYear:
                          type: integer
                        topicsAllTime:
                          type: integer
                x-examples:
                  Example 1:
                    data:
                      - id: '7'
                        refId: ZGlzY291cnNlY2F0ZWdvcnk6YWF2ZTo3
                        protocol: aave
                        name: Risk
                        description: Topics that are risk related belong in this category or the appropriate sub-categories.
                        descriptionText: Topics that are risk related belong in this category or the appropriate sub-categories.
                        descriptionExcerpt: Topics that are risk related belong in this category or the appropriate sub-categories.
                        color: F1592A
                        textColor: FFFFFF
                        slug: risk
                        topicCount: 82
                        postCount: 438
                        position: 7
                        topicUrl: /t/about-the-risk-category/1028
                        numFeaturedTopics: 3
                        topicsWeek: 1
                        topicsMonth: 9
                        topicsYear: 105
                        topicsAllTime: 179
                      - id: '4'
                        refId: ZGlzY291cnNlY2F0ZWdvcnk6YWF2ZTo0
                        protocol: aave
                        name: Governance
                        description: General governance topics and discussions related to Aave.
                        descriptionText: General governance topics and discussions related to Aave.
                        descriptionExcerpt: General governance topics and discussions related to Aave.
                        color: 2EBAC6
                        textColor: 652D90
                        slug: governance
                        topicCount: 574
                        postCount: 6027
                        position: 0
                        topicUrl: /t/about-the-governance-category/3
                        numFeaturedTopics: 5
                        topicsWeek: 12
                        topicsMonth: 47
                        topicsYear: 446
                        topicsAllTime: 882
                      - id: '25'
                        refId: ZGlzY291cnNlY2F0ZWdvcnk6YWF2ZToyNQ==
                        protocol: aave
                        name: Aave Grants DAO
                        description: 'This category is for questions, proposals, and general information relating to projects building on Aave and improving the Aave protocol. Aave Grants DAO provides grants to grow the Aave ecosystem.'
                        descriptionText: 'This category is for questions, proposals, and general information relating to projects building on Aave and improving the Aave protocol. Aave Grants DAO provides grants to grow the Aave ecosystem.'
                        descriptionExcerpt: 'This category is for questions, proposals, and general information relating to projects building on Aave and improving the Aave protocol. Aave Grants DAO provides grants to grow the Aave ecosystem.'
                        color: F7941D
                        textColor: FFFFFF
                        slug: developers
                        topicCount: 72
                        postCount: 378
                        position: 21
                        topicUrl: /t/about-aave-grants-dao/1563
                        numFeaturedTopics: 3
                        topicsWeek: 1
                        topicsMonth: 4
                        topicsYear: 31
                        topicsAllTime: 72
                      - id: '6'
                        refId: ZGlzY291cnNlY2F0ZWdvcnk6YWF2ZTo2
                        protocol: aave
                        name: Other
                        description: Not sure which category fits your topic best (if any)? Post here!
                        descriptionText: Not sure which category fits your topic best (if any)? Post here!
                        descriptionExcerpt: Not sure which category fits your topic best (if any)? Post here!
                        color: 3AB54A
                        textColor: FFFFFF
                        slug: other
                        topicCount: 110
                        postCount: 559
                        position: 14
                        topicUrl: /t/about-the-other-category/255
                        numFeaturedTopics: 3
                        topicsWeek: 0
                        topicsMonth: 8
                        topicsYear: 51
                        topicsAllTime: 116
                      - id: '27'
                        refId: ZGlzY291cnNlY2F0ZWdvcnk6YWF2ZToyNw==
                        protocol: aave
                        name: Delegate Platforms
                        description: This category is for candidates for voting &amp; proposal power delegation.
                        descriptionText: This category is for candidates for voting &amp; proposal power delegation.
                        descriptionExcerpt: This category is for candidates for voting &amp; proposal power delegation.
                        color: 0088CC
                        textColor: FFFFFF
                        slug: delegate-platforms
                        topicCount: 25
                        postCount: 658
                        position: 5
                        topicUrl: /t/about-the-delegate-platforms-category/9322
                        numFeaturedTopics: 3
                        topicsWeek: 0
                        topicsMonth: 1
                        topicsYear: 21
                        topicsAllTime: 25
                      - id: '26'
                        refId: ZGlzY291cnNlY2F0ZWdvcnk6YWF2ZToyNg==
                        protocol: aave
                        name: Development
                        description: null
                        descriptionText: null
                        descriptionExcerpt: null
                        color: 0088CC
                        textColor: FFFFFF
                        slug: development
                        topicCount: 57
                        postCount: 347
                        position: 6
                        topicUrl: /t/about-the-development-category/8117
                        numFeaturedTopics: 3
                        topicsWeek: 0
                        topicsMonth: 6
                        topicsYear: 43
                        topicsAllTime: 57
                      - id: '21'
                        refId: ZGlzY291cnNlY2F0ZWdvcnk6YWF2ZToyMQ==
                        protocol: aave
                        name: Learning Center
                        description: 'The learning center is for questions, general information, and various learning resources for Aave!'
                        descriptionText: 'The learning center is for questions, general information, and various learning resources for Aave!'
                        descriptionExcerpt: 'The learning center is for questions, general information, and various learning resources for Aave!'
                        color: 92278F
                        textColor: FFFFFF
                        slug: learning-center
                        topicCount: 39
                        postCount: 128
                        position: 17
                        topicUrl: /t/about-the-learning-center-category/1368
                        numFeaturedTopics: 3
                        topicsWeek: 0
                        topicsMonth: 0
                        topicsYear: 18
                        topicsAllTime: 58
      operationId: get-discourseCategories
      description: Discourse Categories are the list of the categories for a discourse forum.
      parameters:
        - schema:
            type: string
          in: query
          name: protocol
          description: protocol cname that you want to get discourse categories for
      x-stoplight:
        id: o7y267uz1wyag
    parameters: []
  /discourseTopicPosts:
    get:
      summary: Get Discourse Topic Posts
      tags:
        - discourse
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        refId:
                          type: string
                        protocol:
                          type: string
                        body:
                          type: string
                        authorName:
                          type: string
                        authorUsername:
                          type: string
                        authorAvatar:
                          type: string
                        topicId:
                          type: integer
                        authorId:
                          type: integer
                        reads:
                          type: integer
                        readersCount:
                          type: integer
                        likeCount:
                          type: integer
                        quoteCount:
                          type: integer
                        replyCount:
                          type: integer
                        replyToPostNumber:
                          type:
                            - integer
                            - 'null'
                        postNumber:
                          type: integer
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                  nextCursor:
                    type: string
                x-examples:
                  Example 1:
                    items:
                      - id: '26690'
                        refId: ZGlzY291cnNldG9waWNwb3N0Om9wdGltaXNtOjYxODc6MjY2OTA6OTk0NQ==
                        protocol: optimism
                        body: |-
                          <p><strong>Proposed Mission</strong>: Spearbit + Immunefi Bug Bounty Program for Large Protocols on Optimism.</p>
                          <p><strong>Proposal Tier 42</strong>: Phoenix</p>
                          <p>As Spearbit, we qualify for the Phoenix Tier based on previous work done with the Optimism Foundation.</p>
                          <p><strong>Baseline grant amount</strong>: 100,000 OP</p>
                          <p><strong>% of total available Intent Budget</strong>: 10%</p>
                          <p>Please check here if access to upfront capital is a barrier to completing your Mission and you would like to be considered for a small upfront cash grant: No</p>
                          <p><strong>Alliance name</strong>: Spearbit + Immunefi</p>
                          <p><strong>Alliance Leads</strong>:</p>
                          <p>Spencer Macdonald, Co-Founder and CEO @ Spearbit</p>
                          <p>Mike Leffer, COO @ Spearbit</p>
                          <p>Henry Shen, Senior AE @ Immunefi</p>
                          <p><strong>Contact info</strong>:</p>
                          <p><a href="mailto:mike@spearbit.com">mike@spearbit.com</a><br>
                          <a href="mailto:hen@immunefi.com">hen@immunefi.com</a></p>
[...]
